Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

调整ui
  app/static/css/pages/admin/email-alert-settings.css
  app/static/css/pages/capacity/databases.css
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/static/js/modules/views/capacity/databases.js
  app/static/js/modules/views/components/charts/chart-renderer.js
  app/static/js/modules/views/components/charts/manager.js
  app/templates/admin/alerts/email-settings.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
Due: pyright-guard

邮件配置调整
  app/static/css/pages/admin/email-alert-settings.css
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/templates/admin/alerts/email-settings.html
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
Due: pyright-guard

调整 nginx 配置
  nginx/sites-available/whalefall-prod
Due: none

调整页面
  app/static/css/components/tag-selector.css
  app/static/css/pages/admin/email-alert-settings.css
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/components/tags/tag-selector-view.js
  app/static/js/modules/views/instances/detail.js
  app/static/js/modules/views/instances/modals/database-table-sizes-modal.js
  app/templates/admin/alerts/email-settings.html
  app/templates/instances/detail.html
  docs/Obsidian/reference/config/environment-variables.md
  env.example
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
  tests/unit/test_frontend_database_table_sizes_modal_payload_contract.py
  tests/unit/test_frontend_tag_management_store_search_contract.py
  tests/unit/test_frontend_tag_selector_tag_render_contract.py
Due: secrets-guard-env-example, pyright-guard

调整容量图表
  app/static/css/pages/capacity/databases.css
  app/static/js/modules/views/components/charts/chart-renderer.js
  tests/unit/test_frontend_capacity_chart_legend_density_contract.py
  tests/unit/test_frontend_capacity_chart_legend_interaction_contract.py
Due: pyright-guard

nginx调整
  docs/Obsidian/operations/hot-update/hot-update-guide.md
  scripts/deploy/update-prod-flask.sh
  tests/unit/test_deploy_update_prod_flask_nginx_contract.py
Due: pyright-guard

容量统计改成复选
  app/api/v1/namespaces/capacity.py
  app/api/v1/namespaces/instances.py
  app/core/types/capacity_databases.py
  app/core/types/capacity_instances.py
  app/repositories/capacity_databases_repository.py
  app/repositories/capacity_instances_repository.py
  app/repositories/filter_options_repository.py
  app/routes/capacity/databases.py
  app/routes/capacity/instances.py
  app/schemas/capacity_query.py
  app/schemas/instances_query.py
  app/schemas/query_parsers.py
  app/services/capacity/capacity_databases_page_service.py
  app/services/common/filter_options_service.py
  app/services/common/options_cache.py
  app/services/dashboard/dashboard_overview_service.py
  app/static/js/modules/views/components/charts/filters.js
  app/static/js/modules/views/components/charts/manager.js
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/components/filters/macros.html
  tests/unit/repositories/test_capacity_databases_repository_filters.py
  tests/unit/repositories/test_capacity_databases_repository_summary_query.py
  tests/unit/routes/test_api_v1_capacity_databases_contract.py
  tests/unit/routes/test_api_v1_capacity_instances_contract.py
  tests/unit/routes/test_api_v1_common_options_contract.py
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
  tests/unit/schemas/test_capacity_query.py
  tests/unit/schemas/test_instances_query.py
  tests/unit/services/test_filter_options_service_cache.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整复选框样式
  app/static/css/pages/capacity/databases.css
  app/static/js/modules/views/components/charts/filters.js
  app/static/js/modules/views/components/charts/manager.js
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/components/filters/macros.html
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
Due: pyright-guard

调整定时任务
  app/config/scheduler_tasks.yaml
  app/core/constants/filter_options.py
  app/core/constants/scheduler_jobs.py
  app/scheduler.py
  app/services/alerts/email_alert_digest_service.py
  app/services/scheduler/scheduler_actions_service.py
  app/services/task_runs/task_run_summary_builders.py
  app/static/css/pages/capacity/databases.css
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/static/js/modules/views/components/charts/filters.js
  app/static/js/modules/views/components/charts/manager.js
  app/static/js/modules/views/history/sessions/session-detail.js
  app/static/js/modules/views/history/sessions/sync-sessions.js
  app/tasks/account_classification_daily_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/email_alert_tasks.py
  app/templates/admin/scheduler/modals/scheduler-modals.html
  app/templates/components/filters/macros.html
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
  tests/unit/services/test_task_run_filter_labels_contract.py
  tests/unit/tasks/test_email_alert_tasks.py
  tests/unit/test_frontend_scheduler_email_alert_edit_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复部分问题
  app/core/constants/database_types.py
  app/repositories/email_alerts_repository.py
  app/services/alerts/email_alert_digest_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/history/sessions/session-detail.js
  app/tasks/email_alert_tasks.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/tasks/test_email_alert_tasks.py
  tests/unit/test_database_type_display_names_contract.py
  tests/unit/test_frontend_email_alert_display_state_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: remove legacy tag color field
  app/api/v1/namespaces/accounts.py
  app/api/v1/namespaces/databases.py
  app/api/v1/namespaces/tags.py
  app/api/v1/restx_models/accounts.py
  app/api/v1/restx_models/instances.py
  app/api/v1/restx_models/tags.py
  app/core/constants/__init__.py
  app/core/constants/colors.py
  app/core/types/tags.py
  app/core/types/tags_options.py
  app/models/tag.py
  app/repositories/instances_repository.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/repositories/ledgers/database_ledger_repository.py
  app/schemas/tags.py
  app/services/tags/tag_list_service.py
  app/services/tags/tag_options_service.py
  app/services/tags/tag_write_service.py
  app/static/css/pages/tags/index.css
  app/static/js/modules/views/tags/index.js
  app/static/js/modules/views/tags/modals/tag-modals.js
  app/templates/tags/modals/tag-modals.html
  app/utils/theme_color_utils.py
  migrations/versions/20260318062000_drop_tags_color_column.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/routes/test_api_v1_databases_ledgers_contract.py
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_api_v1_tags_bulk_contract.py
  tests/unit/routes/test_api_v1_tags_contract.py
  tests/unit/test_frontend_tags_color_removal_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增数据库审计信息
  app/__init__.py
  app/api/v1/namespaces/instances.py
  app/api/v1/namespaces/instances_audit.py
  app/models/__init__.py
  app/models/instance_config_snapshot.py
  app/repositories/instance_config_snapshots_repository.py
  app/services/config_sync/__init__.py
  app/services/config_sync/instance_audit_read_service.py
  app/services/config_sync/instance_audit_sync_actions_service.py
  app/services/config_sync/sqlserver_audit_info_sync_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/services/instance_management_service.js
  app/static/js/modules/stores/instance_store.js
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  docs/Obsidian/reference/database/database-permissions-overview.md
  migrations/versions/20260318150000_add_instance_config_snapshots.py
  sql/ops/monitor-user/setup_sqlserver_monitor_user.sql
  tests/unit/models/test_instance_config_snapshot.py
  tests/unit/routes/test_api_v1_instances_audit_info_contract.py
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/services/test_instance_audit_sync_actions_service.py
  tests/unit/services/test_sqlserver_audit_info_sync_service.py
  tests/unit/sql/test_sqlserver_monitor_user_script.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复审计同步
  app/services/config_sync/sqlserver_audit_info_sync_service.py
  tests/unit/services/test_sqlserver_audit_info_sync_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正sqlserver 同步问题
  app/services/accounts_sync/adapters/sqlserver_adapter.py
  app/services/config_sync/instance_audit_sync_actions_service.py
  app/services/config_sync/sqlserver_audit_info_sync_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/instances/detail.js
  tests/unit/routes/test_api_v1_instances_audit_info_contract.py
  tests/unit/services/test_instance_audit_sync_actions_service.py
  tests/unit/services/test_sqlserver_adapter_permissions.py
  tests/unit/services/test_sqlserver_audit_info_sync_service.py
  tests/unit/ui/test_instance_audit_ui_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复审计问题
  app/services/config_sync/sqlserver_audit_info_sync_service.py
  app/static/js/modules/views/instances/detail.js
  tests/unit/services/test_sqlserver_audit_info_sync_service.py
  tests/unit/ui/test_instance_audit_ui_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整显示
  app/static/css/pages/instances/list.css
  app/static/js/modules/views/instances/list.js
  app/static/js/modules/views/tags/index.js
  tests/unit/test_frontend_instance_list_compact_indicators_contract.py
Due: pyright-guard

增加数据库logo
  app/api/v1/restx_models/instances.py
  app/core/types/instances.py
  app/repositories/instances_repository.py
  app/routes/accounts/ledgers.py
  app/routes/databases/ledgers.py
  app/routes/instances/manage.py
  app/services/instances/instance_list_service.py
  app/static/css/components/chips.css
  app/static/css/pages/accounts/ledgers.css
  app/static/css/pages/databases/ledgers.css
  app/static/css/pages/instances/list.css
  app/static/img/db-types/mariadb.png
  app/static/img/db-types/mongodb.png
  app/static/img/db-types/mysql.png
  app/static/img/db-types/oracle.png
  app/static/img/db-types/postgresql.png
  app/static/img/db-types/redis.png
  app/static/img/db-types/sqlite.png
  app/static/img/db-types/sqlserver.png
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/databases/ledgers.js
  app/static/js/modules/views/instances/list.js
  app/templates/accounts/ledgers.html
  app/templates/databases/ledgers.html
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_web_accounts_ledgers_page_contract.py
  tests/unit/routes/test_web_databases_statistics_page_contract.py
  tests/unit/routes/test_web_instances_list_page_contract.py
  tests/unit/services/test_instance_list_service_audit_status.py
  tests/unit/test_frontend_instance_list_compact_indicators_contract.py
  tests/unit/test_frontend_ledger_db_type_assets_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整 ui 显示
  app/static/css/pages/accounts/ledgers.css
  app/static/css/pages/databases/ledgers.css
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/databases/ledgers.js
  tests/unit/test_frontend_ledger_db_type_assets_contract.py
Due: pyright-guard

文案一致性修复
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/test_frontend_instance_detail_accounts_contract.py
  tests/unit/test_frontend_instance_detail_version_typography_contract.py
  tests/unit/test_frontend_ledger_db_type_assets_contract.py
Due: pyright-guard

fix: align instance statistics totals with dashboard
  app/api/v1/restx_models/instances.py
  app/core/types/instance_statistics.py
  app/repositories/instance_statistics_repository.py
  app/services/instances/instance_statistics_read_service.py
  app/static/js/modules/stores/instance_store.js
  app/static/js/modules/views/instances/statistics.js
  app/templates/instances/statistics.html
  tests/unit/routes/test_api_v1_instances_statistics_contract.py
  tests/unit/services/test_dashboard_overview_service.py
  tests/unit/services/test_instance_statistics_read_service.py
  tests/unit/services/test_instance_statistics_repository.py
  tests/unit/test_frontend_instance_statistics_semantics_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整实例统计
  app/api/v1/restx_models/instances.py
  app/core/types/instance_statistics.py
  app/repositories/instance_statistics_repository.py
  app/services/instances/instance_statistics_read_service.py
  app/static/js/modules/stores/instance_store.js
  app/static/js/modules/views/instances/statistics.js
  app/templates/instances/statistics.html
  tests/unit/routes/test_api_v1_instances_statistics_contract.py
  tests/unit/services/test_instance_statistics_read_service.py
  tests/unit/services/test_instance_statistics_repository.py
  tests/unit/test_frontend_instance_statistics_semantics_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
