Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

新增超时日志
  app/services/veeam/provider.py
  tests/unit/services/test_veeam_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

统一 veeam 同步
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/views/integrations/veeam/source.js
  app/tasks/veeam_backup_sync_tasks.py
  tests/unit/routes/test_api_v1_veeam_source_contract.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/tasks/test_veeam_backup_sync_tasks.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复超时问题
  app/services/veeam/provider.py
  app/settings.py
  env.example
  tests/unit/services/test_veeam_provider.py
  tests/unit/test_settings_enable_scheduler_flag.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

fix: 简化 Veeam 备份同步链路
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复超时问题
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复单条任务卡住
  app/services/task_runs/task_run_summary_builders.py
  app/services/task_runs/task_runs_write_service.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复恢复点显示问题
  app/api/v1/namespaces/instances_backup.py
  app/repositories/veeam_repository.py
  app/services/veeam/instance_backup_read_service.py
  app/services/veeam/sync_actions_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复样式
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/instances/detail.js
  tests/unit/test_frontend_veeam_source_contract.py
Due: pyright-guard

veeam 补齐大小
  app/services/task_runs/task_run_summary_builders.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/views/instances/detail.js
  tests/unit/repositories/test_veeam_repository_restore_point_contract.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

fix bug
  app/api/v1/namespaces/instances_backup.py
  app/repositories/veeam_repository.py
  app/services/task_runs/task_run_summary_builders.py
  app/services/veeam/instance_backup_read_service.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/views/instances/detail.js
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/services/test_task_run_summary_builders.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复
  app/api/v1/namespaces/instances_backup.py
  app/repositories/veeam_repository.py
  app/static/js/modules/views/instances/detail.js
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

分组显示
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/views/instances/detail.js
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增平台列
  app/repositories/veeam_repository.py
  app/static/js/modules/views/instances/detail.js
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复迁移脚本
  migrations/versions/20260403060000_add_veeam_machine_ip_columns.py
Due: ruff-style-guard

修改匹配逻辑
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正匹配逻辑
  app/services/veeam/provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

单台备份同步
  app/api/v1/namespaces/veeam.py
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

添加日志
  app/api/v1/namespaces/veeam.py
  app/static/js/modules/views/instances/detail.js
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

修正路径
  app/static/js/modules/views/instances/detail.js
Due: none

实装单台veeam同步
  app/api/v1/namespaces/veeam.py
  app/static/js/modules/views/instances/detail.js
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard
