Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

refactor: facts builder reads db-prefixed category keys
  app/services/accounts_permissions/facts_builder.py
  tests/unit/services/test_permission_facts_builder.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

重构文档
  docs/plans/2026-01-21-prefixed-permission-category-keys-refactor-implementation-plan.md
Due: none

refactor: permission policy center uses prefixed categories
  app/static/js/modules/views/accounts/account-classification/permissions/permission-policy-center.js
Due: none

refactor: postgresql permissions keys prefixed
  app/core/types/accounts.py
  app/schemas/external_contracts/postgresql_account.py
  app/services/accounts_sync/adapters/postgresql_adapter.py
  tests/unit/services/accounts_sync/test_postgresql_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

docs: update permission category keys
  docs/Obsidian/reference/service/accounts-sync-permission-manager.md
  docs/Obsidian/reference/service/mysql-roles-sync-and-display.md
Due: none

refactor: drop postgresql system_privileges snapshot field
  app/schemas/external_contracts/postgresql_account.py
  app/services/accounts_sync/adapters/postgresql_adapter.py
  tests/unit/services/accounts_sync/test_postgresql_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 提示角色不存在问题
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整任务 最后运行时间
  app/repositories/scheduler_jobs_repository.py
  app/services/scheduler/scheduler_jobs_read_service.py
  tests/unit/repositories/test_scheduler_jobs_repository_last_run_resolution.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

feat: add TaskRun summary_json v1 schema and factory
  app/schemas/task_run_summary.py
  tests/unit/schemas/test_task_run_summary_schema.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

feat: enforce TaskRun summary_json envelope on start_run
  app/services/task_runs/task_runs_write_service.py
  tests/unit/services/test_task_runs_write_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: use summary envelope in actions services
  app/services/account_classification/auto_classify_actions_service.py
  app/services/capacity/capacity_current_aggregation_actions_service.py
  tests/unit/services/test_task_run_summary_actions_service_envelope.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: unify TaskRun summary_json across builtin tasks
  app/services/task_runs/task_run_summary_builders.py
  app/tasks/account_classification_auto_tasks.py
  app/tasks/account_classification_daily_tasks.py
  app/tasks/accounts_sync_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/capacity_collection_tasks.py
  app/tasks/capacity_current_aggregation_tasks.py
  tests/unit/services/test_task_run_summary_builders.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

docs: document TaskRun summary_json schema v1
  docs/Obsidian/operations/README.md
  docs/Obsidian/operations/task-run-summary-json.md
Due: none

chore: fix typecheck and ruff for TaskRun summary
  app/schemas/task_run_summary.py
  app/services/task_runs/task_run_summary_builders.py
  app/tasks/account_classification_auto_tasks.py
  app/tasks/capacity_current_aggregation_tasks.py
  tests/unit/repositories/test_scheduler_jobs_repository_last_run_resolution.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: overhaul account classification statistics page
  app/api/v1/namespaces/accounts.py
  app/repositories/account_classification_daily_stats_read_repository.py
  app/services/accounts/account_classification_daily_stats_read_service.py
  app/static/css/pages/accounts/classification_statistics.css
  app/static/js/modules/services/account_classification_statistics_service.js
  app/static/js/modules/views/accounts/classification_statistics.js
  app/templates/accounts/classification_statistics.html
  docs/plans/2026-01-22-account-classification-statistics-page-refactor.md
  tests/unit/routes/test_api_v1_accounts_statistics_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

统一卡片
  docs/plans/2026-01-22-metric-card-standardization-implementation-plan.md
  docs/plans/2026-01-22-metric-cards-inventory.md
Due: none

feat: add MetricCard component (template + css)
  app/static/css/components/metric-card.css
  app/templates/base.html
  app/templates/components/ui/macros.html
  app/templates/components/ui/metric_card.html
  tests/unit/test_frontend_metric_card_contract.py
Due: pyright-guard

refactor: migrate capacity stats cards to MetricCard
  app/static/css/pages/capacity/databases.css
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  tests/unit/test_frontend_capacity_uses_metric_card.py
Due: pyright-guard

refactor: migrate dashboard stat cards to MetricCard
  app/static/css/pages/dashboard/overview.css
  app/templates/dashboard/overview.html
  tests/unit/test_frontend_dashboard_uses_metric_card.py
Due: pyright-guard

refactor: migrate history/scheduler metric cards to MetricCard
  app/static/css/pages/admin/scheduler.css
  app/static/css/pages/history/logs.css
  app/static/css/pages/history/sync-sessions.css
  app/static/js/modules/views/admin/scheduler/index.js
  app/templates/admin/scheduler/index.html
  app/templates/history/logs/logs.html
  app/templates/history/sessions/sync-sessions.html
  tests/unit/test_frontend_history_scheduler_metric_cards.py
Due: pyright-guard

refactor: migrate tags stats cards to MetricCard
  app/static/css/pages/tags/index.css
  app/static/js/modules/views/tags/index.js
  app/templates/tags/index.html
  tests/unit/test_frontend_tags_uses_metric_card.py
Due: pyright-guard

docs: add MetricCard standards and remove legacy stat card styles
  app/static/css/components/stats-card.css
  app/templates/base.html
  app/templates/components/ui/macros.html
  app/templates/components/ui/stats_card.html
  docs/Obsidian/standards/ui/README.md
  docs/Obsidian/standards/ui/metric-card-standards.md
  tests/unit/test_frontend_no_legacy_stat_card_classes.py
Due: pyright-guard

修复 定时任务
  docs/Obsidian/standards/backend/task-and-scheduler.md
  docs/plans/2026-01-22-scheduler-dedicated-process-implementation-plan.md
  env.example
  nginx/gunicorn/gunicorn-prod.conf.py
  nginx/gunicorn/gunicorn-scheduler.conf.py
  nginx/sites-available/whalefall-prod
  nginx/supervisor/whalefall-prod.conf
  scripts/deploy/deploy-prod-flask.sh
  scripts/deploy/update-prod-flask.sh
  scripts/ops/docker/start-prod-services.sh
  scripts/ops/nginx/nginx_manager.sh
  tests/unit/test_settings_enable_scheduler_flag.py
Due: secrets-guard-env-example, pyright-guard
