Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

移除文件锁
  app/scheduler.py
  docs/Obsidian/architecture/domain/scheduler-domain.md
  docs/Obsidian/architecture/spec.md
  docs/Obsidian/canvas/global-c4-l2-runtime-topology.canvas
  docs/Obsidian/canvas/global-system-architecture.canvas
  docs/Obsidian/canvas/scheduler/scheduler-domain-components.canvas
  docs/Obsidian/operations/scheduler-jobstore-ops.md
  docs/Obsidian/standards/backend/layer/infra-layer-standards.md
  docs/Obsidian/standards/backend/task-and-scheduler.md
  docs/plans/2026-01-22-scheduler-dedicated-process-implementation-plan.md
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复模版
  app/templates/components/ui/macros.html
  docs/reports/naming_guard_report.txt
  tests/unit/test_frontend_metric_card_macro_forwarding.py
Due: pyright-guard

调整所有的 4 card
  app/static/css/pages/accounts/statistics.css
  app/static/css/pages/admin/partitions.css
  app/static/css/pages/auth/login.css
  app/static/css/pages/history/account-change-logs.css
  app/static/css/pages/instances/statistics.css
  app/static/js/modules/views/accounts/statistics.js
  app/static/js/modules/views/admin/partitions/index.js
  app/static/js/modules/views/instances/statistics.js
  app/templates/accounts/statistics.html
  app/templates/admin/partitions/index.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/instances/statistics.html
  tests/unit/test_frontend_metric_card_inventory_4up_pages.py
Due: pyright-guard

修复 4 card
  app/services/dashboard/dashboard_overview_service.py
  app/static/css/pages/admin/scheduler.css
  app/static/js/modules/views/admin/scheduler/index.js
  app/static/js/modules/views/history/sessions/sync-sessions.js
  app/templates/admin/scheduler/index.html
  app/templates/capacity/instances.html
  app/templates/dashboard/overview.html
  app/templates/history/sessions/sync-sessions.html
  tests/unit/test_frontend_history_scheduler_metric_cards.py
  tests/unit/test_frontend_metric_card_content_alignment_inventory.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 显示
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/admin/partitions/index.js
  app/static/js/modules/views/credentials/list.js
  app/static/js/modules/views/instances/list.js
  app/static/js/modules/views/tags/index.js
  app/templates/accounts/classification_statistics.html
  app/templates/dashboard/overview.html
  app/templates/instances/statistics.html
Due: none

丰富统计维度
  app/static/js/modules/views/history/account-change-logs/account-change-logs.js
  app/static/js/modules/views/history/logs/logs.js
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
Due: none

refactor: enrich stat cards and polish metric labels
  app/static/js/modules/ui/terms.js
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/accounts/statistics.js
  app/static/js/modules/views/admin/partitions/index.js
  app/static/js/modules/views/capacity/databases.js
  app/static/js/modules/views/capacity/instances.js
  app/static/js/modules/views/components/charts/summary-cards.js
  app/static/js/modules/views/history/account-change-logs/account-change-logs.js
  app/static/js/modules/views/history/logs/logs.js
  app/static/js/modules/views/instances/detail.js
  app/static/js/modules/views/instances/statistics.js
  app/static/js/modules/views/tags/index.js
  app/templates/accounts/statistics.html
  app/templates/admin/partitions/index.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
  app/templates/instances/detail.html
  app/templates/instances/statistics.html
  app/templates/tags/bulk/assign.html
  app/templates/tags/index.html
  docs/plans/2026-01-23-display-layer-polish.md
  docs/plans/2026-01-23-metric-cards-no-duplicate-metrics.md
  docs/plans/2026-01-23-stat-cards-sitewide-dedup.md
Due: none

优化测试
  app/tasks/account_classification_auto_tasks.py
  tests/unit/constants/test_constants_immutability.py
  tests/unit/test_account_classification_auto_tasks_guard.py
  tests/unit/test_docs_no_migration_route_doc_tooling.py
  tests/unit/test_frontend_capacity_uses_metric_card.py
  tests/unit/test_frontend_dashboard_uses_metric_card.py
  tests/unit/test_frontend_history_scheduler_metric_cards.py
  tests/unit/test_frontend_logs_store_pagination_contract.py
  tests/unit/test_frontend_metric_card_content_alignment_inventory.py
  tests/unit/test_frontend_metric_card_inventory_4up_pages.py
  tests/unit/test_frontend_metric_card_migration_contract.py
  tests/unit/test_frontend_no_legacy_pagination_params.py
  tests/unit/test_frontend_tags_uses_metric_card.py
  tests/unit/test_infra_db_session_rollback_allowlist.py
  tests/unit/test_repositories_no_db_session_rollback.py
  tests/unit/test_routes_safe_route_call_guard.py
  tests/unit/test_services_no_db_session_rollback.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, or-fallback-pattern-guard

调整 agent.md
  .agents/skills/reducing-entropy/SKILL.md
  .agents/skills/reducing-entropy/adding-reference-mindsets.md
  .agents/skills/reducing-entropy/references/data-over-abstractions.md
  .agents/skills/reducing-entropy/references/design-is-taking-apart.md
  .agents/skills/reducing-entropy/references/expensive-to-add-later.md
  .agents/skills/reducing-entropy/references/simplicity-vs-easy.md
  .codex/skills/reducing-entropy
  AGENTS.md
  CLAUDE.md
  app/static/css/pages/auth/login.css
  app/static/js/modules/views/accounts/account-classification/index.js
  app/templates/accounts/account-classification/index.html
  app/templates/auth/login.html
  docs/agent/README.md
  docs/agent/architecture.md
  docs/agent/commands.md
  docs/agent/dev-tips.md
  docs/agent/workflows.md
  tests/unit/routes/test_web_auth_login_page_layout_contract.py
Due: pyright-guard

清理文档
  docs/plans/2026-01-15-ui-api-url-downshift-to-services.md
  docs/plans/2026-01-15-ui-http-downshift-to-services.md
  docs/plans/2026-01-15-ui-standards-p1-p2-fixes.md
  docs/plans/2026-01-16-backend-or-fallback-downshift-to-schemas.md
  docs/plans/2026-01-16-dashboard-latest-capacity-design.md
  docs/plans/2026-01-16-or-fallback-baseline.md
  docs/plans/2026-01-16-settings-simplification.md
  docs/plans/2026-01-16-ui-component-scope-fix-design.md
  docs/plans/2026-01-17-rebase-dev-conflicts-222.md
  docs/plans/2026-01-17-repo-simplicity-optimization.md
  docs/plans/2026-01-19-account-classification-daily-stats-refactor.md
  docs/plans/2026-01-19-account-classification-daily-stats-ui-design.md
  docs/plans/2026-01-19-task-run-center-refactor-design.md
  docs/plans/2026-01-20-account-change-history-ui-refactor.md
  docs/plans/2026-01-20-account-classification-refactor-progress.md
  docs/plans/2026-01-20-account-classification-refactor.md
  docs/plans/2026-01-20-task-run-center-refactor-progress.md
  docs/plans/2026-01-21-change-history-modal-display-refactor.md
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
  docs/plans/2026-01-21-mysql-roles-refactor-implementation-plan.md
  docs/plans/2026-01-21-prefixed-permission-category-keys-refactor-implementation-plan.md
  docs/plans/2026-01-22-account-classification-statistics-page-refactor.md
  docs/plans/2026-01-22-metric-card-standardization-implementation-plan.md
  docs/plans/2026-01-22-metric-cards-inventory.md
  docs/plans/2026-01-22-scheduler-dedicated-process-implementation-plan.md
  docs/reports/2026-01-15-backend-standards-audit-report.md
  docs/reports/2026-01-15-ui-standards-audit-report.md
  docs/reports/2026-01-16-ui-standards-audit-report.md
  docs/reports/2026-01-23-reducing-entropy-review-data-over-abstractions.md
  docs/reports/2026-01-23-reducing-entropy-review-design-is-taking-apart.md
  docs/reports/2026-01-23-reducing-entropy-review-pagni.md
  docs/reports/2026-01-23-reducing-entropy-review-simplicity-vs-easy.md
  docs/reports/eslint_quick_2026-01-15_153743.txt
  docs/reports/eslint_quick_2026-01-15_160134.txt
  docs/reports/eslint_quick_2026-01-15_163523.txt
Due: none

日志监测
  app/__init__.py
  app/infra/logging/request_middleware.py
  app/settings.py
  app/utils/structlog_config.py
  docs/Obsidian/operations/observability-ops.md
  docs/Obsidian/standards/backend/structured-logging-context-fields.md
  docs/reports/2026-01-23-logging-audit-wide-events.md
  env.example
  tests/unit/utils/test_request_logging_wide_events.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, or-fallback-pattern-guard

fix: 降噪 http_request_completed (slow/error 策略)
  app/infra/logging/request_middleware.py
  app/settings.py
  env.example
  tests/unit/utils/test_request_logging_wide_events.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, or-fallback-pattern-guard

docs: 更新 wide event 降噪配置说明
  docs/reports/2026-01-23-logging-audit-wide-events.md
Due: none

移除状态
  app/core/constants/__init__.py
  app/core/constants/status_types.py
  app/models/sync_instance_record.py
  app/models/task_run_item.py
  app/services/aggregation/capacity_aggregation_task_runner.py
  app/services/aggregation/results.py
  app/services/capacity/current_aggregation_service.py
  app/services/task_runs/task_runs_read_service.py
  app/services/task_runs/task_runs_write_service.py
  tests/unit/constants/test_constants_immutability.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

清理 store
  app/static/css/pages/credentials/create.css
  app/static/css/pages/credentials/detail.css
  app/static/css/pages/credentials/edit.css
  app/static/css/pages/instances/create.css
  app/static/css/pages/instances/edit.css
  app/static/js/common/validation-rules.js
  app/static/js/modules/services/sync_sessions_service.js
  app/static/js/modules/stores/account_classification_store.js
  app/static/js/modules/stores/logs_store.js
  app/static/js/modules/stores/sync_sessions_store.js
  app/static/js/modules/stores/tag_batch_store.js
  app/static/js/modules/stores/tag_list_store.js
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/accounts/account-classification/permissions/permission-policy-center.js
  app/static/js/modules/views/tags/batch-assign.js
  app/templates/accounts/account-classification/index.html
  app/templates/tags/bulk/assign.html
  tests/unit/test_frontend_logs_store_pagination_contract.py
Due: pyright-guard

docs: add strict layering refactor plan and inventory
  docs/changes/refactor/layer/state-layer-inventory.md
  docs/plans/2026-01-24-frontend-strict-layering-refactor.md
Due: none

refactor(ui): remove httpU from change-password modal via service/store
  app/static/js/modules/services/auth_service.js
  app/static/js/modules/stores/auth_store.js
  app/static/js/modules/views/auth/modals/change-password-modals.js
  app/templates/base.html
  tests/unit/test_frontend_no_httpu_in_views.py
Due: pyright-guard

refactor(ui): move account classification statistics to store and remove httpU
  app/static/js/modules/services/instance_management_service.js
  app/static/js/modules/stores/account_classification_statistics_store.js
  app/static/js/modules/views/accounts/classification_statistics.js
  app/templates/accounts/classification_statistics.html
  tests/unit/test_frontend_no_httpu_in_views.py
Due: pyright-guard

docs(refactor): update state layer inventory progress
  docs/changes/refactor/layer/state-layer-inventory.md
Due: none
