Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

forms-layer-guard:
  name: layer-guard (forms)
  entry: ./scripts/ci/forms-layer-guard.sh
  language: system
  pass_filenames: false

tasks-layer-guard:
  name: layer-guard (tasks)
  entry: ./scripts/ci/tasks-layer-guard.sh
  language: system
  pass_filenames: false

api-layer-guard:
  name: layer-guard (api v1)
  entry: ./scripts/ci/api-layer-guard.sh
  language: system
  pass_filenames: false

services-repository-enforcement-guard:
  name: layer-guard (services repository enforcement)
  entry: ./scripts/ci/services-repository-enforcement-guard.sh
  language: system
  pass_filenames: false

or-fallback-pattern-guard:
  name: guard (or fallback patterns)
  entry: ./scripts/ci/or-fallback-pattern-guard.sh
  language: system
  pass_filenames: false

调整实例统计
  app/api/v1/restx_models/instances.py
  app/core/types/instance_statistics.py
  app/repositories/instance_statistics_repository.py
  app/services/instances/instance_statistics_read_service.py
  app/static/js/modules/stores/instance_store.js
  app/static/js/modules/views/instances/statistics.js
  app/templates/instances/statistics.html
  tests/unit/routes/test_api_v1_instances_statistics_contract.py
  tests/unit/services/test_instance_statistics_read_service.py
  tests/unit/services/test_instance_statistics_repository.py
  tests/unit/test_frontend_instance_statistics_semantics_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

逻辑调整
  app/api/v1/namespaces/dashboard.py
  app/services/accounts_sync/accounts_sync_actions_service.py
  app/services/capacity/instance_capacity_sync_actions_service.py
  app/services/config_sync/instance_audit_sync_actions_service.py
  app/services/dashboard/dashboard_overview_service.py
  app/static/js/modules/views/accounts/statistics.js
  app/static/js/modules/views/instances/detail.js
  app/templates/accounts/statistics.html
  app/templates/dashboard/overview.html
  app/templates/databases/statistics.html
  app/templates/instances/detail.html
  tests/unit/routes/test_api_v1_accounts_sync_contract.py
  tests/unit/routes/test_api_v1_dashboard_contract.py
  tests/unit/routes/test_api_v1_instances_sync_capacity_contract.py
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/services/test_dashboard_overview_service.py
  tests/unit/services/test_instance_audit_sync_actions_service.py
  tests/unit/test_frontend_dashboard_and_statistics_state_semantics_contract.py
  tests/unit/test_frontend_instance_detail_manual_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增jumpserver状态
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/namespaces/jumpserver.py
  app/api/v1/restx_models/instances.py
  app/core/constants/validation_limits.py
  app/core/types/instances.py
  app/models/__init__.py
  app/models/jumpserver_asset_snapshot.py
  app/models/jumpserver_source_binding.py
  app/repositories/credentials_repository.py
  app/repositories/instances_repository.py
  app/repositories/jumpserver_repository.py
  app/routes/jumpserver_source.py
  app/schemas/jumpserver.py
  app/services/instances/instance_list_service.py
  app/services/jumpserver/__init__.py
  app/services/jumpserver/provider.py
  app/services/jumpserver/source_service.py
  app/services/jumpserver/sync_actions_service.py
  app/static/css/pages/integrations/jumpserver-source.css
  app/static/js/common/validation-rules.js
  app/static/js/modules/services/jumpserver_source_service.js
  app/static/js/modules/views/credentials/modals/credential-modals.js
  app/static/js/modules/views/instances/list.js
  app/static/js/modules/views/integrations/jumpserver/source.js
  app/templates/base.html
  app/templates/credentials/modals/credential-modals.html
  app/templates/integrations/jumpserver/source.html
  migrations/versions/20260319103000_add_jumpserver_source_and_asset_snapshots.py
  sql/init/postgresql/init_postgresql.sql
  tests/unit/routes/test_api_v1_credentials_contract.py
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_api_v1_jumpserver_source_contract.py
  tests/unit/test_frontend_credentials_modal_api_copy_contract.py
  tests/unit/test_frontend_jumpserver_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

统一设置
  app/__init__.py
  app/routes/alerts.py
  app/routes/jumpserver_source.py
  app/routes/system_settings.py
  app/services/jumpserver/__init__.py
  app/services/jumpserver/provider.py
  app/services/jumpserver/source_service.py
  app/services/jumpserver/sync_actions_service.py
  app/services/task_runs/task_run_summary_builders.py
  app/settings.py
  app/static/css/pages/admin/system-settings.css
  app/static/js/modules/views/admin/system-settings/index.js
  app/templates/admin/alerts/email-settings.html
  app/templates/admin/system-settings/_email-alert-settings-section.html
  app/templates/admin/system-settings/_jumpserver-source-section.html
  app/templates/admin/system-settings/index.html
  app/templates/base.html
  app/templates/integrations/jumpserver/source.html
  docs/plans/2026-03-23-system-settings-page.md
  env.example
  tests/unit/routes/test_api_v1_jumpserver_source_contract.py
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
  tests/unit/routes/test_web_jumpserver_source_page_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_jumpserver_provider.py
  tests/unit/services/test_jumpserver_sync_actions_service_contract.py
  tests/unit/services/test_task_run_summary_builders.py
  tests/unit/test_frontend_jumpserver_source_contract.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

优化文案
  app/static/css/pages/admin/email-alert-settings.css
  app/static/css/pages/admin/system-settings.css
  app/templates/admin/system-settings/_email-alert-settings-section.html
  app/templates/admin/system-settings/_jumpserver-source-section.html
  app/templates/admin/system-settings/index.html
  tests/unit/routes/test_web_system_settings_page_contract.py
Due: pyright-guard

新增关闭ssl认证
  app/api/v1/namespaces/jumpserver.py
  app/models/jumpserver_source_binding.py
  app/schemas/jumpserver.py
  app/services/jumpserver/provider.py
  app/services/jumpserver/source_service.py
  app/services/jumpserver/sync_actions_service.py
  app/static/js/modules/views/integrations/jumpserver/source.js
  app/templates/admin/system-settings/_jumpserver-source-section.html
  migrations/versions/20260325002000_add_verify_ssl_to_jumpserver_source_bindings.py
  tests/unit/routes/test_api_v1_jumpserver_source_contract.py
  tests/unit/services/test_jumpserver_provider.py
  tests/unit/services/test_jumpserver_sync_actions_service_contract.py
  tests/unit/test_frontend_jumpserver_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增调试代码
  app/services/jumpserver/provider.py
  tests/unit/services/test_jumpserver_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

orgid 配置
  app/api/v1/namespaces/jumpserver.py
  app/models/jumpserver_source_binding.py
  app/schemas/jumpserver.py
  app/services/jumpserver/provider.py
  app/services/jumpserver/source_service.py
  app/services/jumpserver/sync_actions_service.py
  app/static/js/modules/views/integrations/jumpserver/source.js
  app/templates/admin/system-settings/_jumpserver-source-section.html
  migrations/versions/20260325005500_add_org_id_to_jumpserver_source_bindings.py
  tests/unit/routes/test_api_v1_jumpserver_source_contract.py
  tests/unit/services/test_jumpserver_provider.py
  tests/unit/services/test_jumpserver_sync_actions_service_contract.py
  tests/unit/test_frontend_jumpserver_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增审计筛选和托管筛选
  app/api/v1/namespaces/instances.py
  app/core/types/instances.py
  app/repositories/instances_repository.py
  app/routes/instances/manage.py
  app/schemas/instances_query.py
  app/static/js/modules/views/instances/list.js
  app/templates/instances/list.html
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_web_instances_list_page_contract.py
  tests/unit/schemas/test_instances_query.py
  tests/unit/services/test_instance_list_service_audit_status.py
  tests/unit/test_frontend_instance_list_filters_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

统一筛选
  app/static/css/components/filters/filter-common.css
  app/static/css/pages/capacity/databases.css
  app/static/css/pages/instances/detail.css
  app/static/css/variables.css
  app/static/js/modules/views/components/tags/tag-selector-controller.js
  app/templates/accounts/classification_statistics.html
  app/templates/accounts/ledgers.html
  app/templates/auth/list.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/components/filters/macros.html
  app/templates/components/ui/filter_card.html
  app/templates/credentials/list.html
  app/templates/databases/ledgers.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
  app/templates/history/sessions/sync-sessions.html
  app/templates/instances/detail.html
  app/templates/instances/list.html
  app/templates/tags/index.html
  docs/Obsidian/standards/ui/guide/color.md
  docs/prompts/frontend.md
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/routes/test_web_account_classification_statistics_page_contract.py
  tests/unit/test_frontend_filter_card_width_presets_contract.py
  tests/unit/test_frontend_remaining_filter_surfaces_contract.py
Due: pyright-guard

调整 UI
  app/api/v1/restx_models/instances.py
  app/core/types/common_filter_options.py
  app/routes/capacity/instances.py
  app/services/capacity/capacity_databases_page_service.py
  app/services/common/filter_options_service.py
  app/static/css/components/filters/filter-common.css
  app/static/css/pages/accounts/account-classification.css
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/components/charts/filters.js
  app/static/js/modules/views/components/charts/manager.js
  app/static/js/modules/views/components/tags/tag-selector-controller.js
  app/templates/components/filters/macros.html
  app/utils/query_filter_utils.py
  tests/unit/routes/test_api_v1_common_options_contract.py
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
  tests/unit/routes/test_web_instances_list_page_contract.py
  tests/unit/test_frontend_capacity_instance_filter_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正 数据库迁移
  migrations/versions/20260325063000_add_veeam_source_and_machine_backup_snapshots.py
  tests/unit/services/test_alembic_single_head_contract.py
Due: ruff-style-guard, pyright-guard

修正 veeam 凭据
  app/schemas/credentials.py
  tests/unit/routes/test_api_v1_credentials_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

补全veeam备份信息
  app/api/v1/namespaces/instances_backup.py
  app/models/veeam_machine_backup_snapshot.py
  app/repositories/veeam_repository.py
  app/services/veeam/instance_backup_read_service.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/static/js/modules/views/instances/detail.js
  app/templates/admin/scheduler/modals/scheduler-modals.html
  migrations/versions/20260325170000_add_veeam_backup_metrics_columns.py
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_scheduler_veeam_edit_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

链路逻辑修复
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

veeam 同步新增日志
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复同步逻辑
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整备份信息
  app/api/v1/namespaces/instances_backup.py
  app/models/veeam_machine_backup_snapshot.py
  app/repositories/veeam_repository.py
  app/services/veeam/instance_backup_read_service.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复bug
  app/services/veeam/sync_actions_service.py
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增超时日志
  app/services/veeam/provider.py
  tests/unit/services/test_veeam_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
  forms-layer-guard: any of: ^app/forms/.*\.py$
  tasks-layer-guard: any of: ^app/tasks/.*\.py$
  api-layer-guard: any of: ^app/api/v1/.*\.py$
  services-repository-enforcement-guard: any of: ^app/services/.*\.py$
  or-fallback-pattern-guard: any of: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$
