Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

forms-layer-guard:
  name: layer-guard (forms)
  entry: ./scripts/ci/forms-layer-guard.sh
  language: system
  pass_filenames: false

tasks-layer-guard:
  name: layer-guard (tasks)
  entry: ./scripts/ci/tasks-layer-guard.sh
  language: system
  pass_filenames: false

api-layer-guard:
  name: layer-guard (api v1)
  entry: ./scripts/ci/api-layer-guard.sh
  language: system
  pass_filenames: false

services-repository-enforcement-guard:
  name: layer-guard (services repository enforcement)
  entry: ./scripts/ci/services-repository-enforcement-guard.sh
  language: system
  pass_filenames: false

or-fallback-pattern-guard:
  name: guard (or fallback patterns)
  entry: ./scripts/ci/or-fallback-pattern-guard.sh
  language: system
  pass_filenames: false

实装单台veeam同步
  app/api/v1/namespaces/veeam.py
  app/static/js/modules/views/instances/detail.js
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

修复问题
  app/api/v1/namespaces/veeam.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

调整逻辑
  app/api/v1/namespaces/veeam.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

新增日志
  app/api/v1/namespaces/veeam.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

修复veeam 同步
  app/api/v1/namespaces/veeam.py
  app/repositories/veeam_repository.py
  app/scheduler.py
  app/services/veeam/provider.py
  app/settings.py
  app/tasks/veeam_backup_sync_tasks.py
  env.example
  tests/unit/repositories/test_veeam_repository_snapshot_write_contract.py
  tests/unit/routes/test_api_v1_veeam_source_contract.py
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/tasks/test_veeam_backup_sync_tasks.py
  tests/unit/test_settings_enable_scheduler_flag.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复veeam
  app/api/v1/namespaces/veeam.py
  app/services/veeam/sync_actions_service.py
  tests/unit/routes/test_api_v1_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增备份统计和筛选
  app/api/v1/namespaces/instances.py
  app/api/v1/restx_models/instances.py
  app/core/types/instance_statistics.py
  app/core/types/instances.py
  app/repositories/instance_statistics_repository.py
  app/repositories/instances_repository.py
  app/routes/instances/manage.py
  app/schemas/instances_query.py
  app/services/instances/instance_statistics_read_service.py
  app/static/css/pages/instances/detail.css
  app/static/css/pages/instances/statistics.css
  app/static/js/modules/stores/instance_store.js
  app/static/js/modules/views/instances/list.js
  app/static/js/modules/views/instances/statistics.js
  app/templates/instances/list.html
  app/templates/instances/statistics.html
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_api_v1_instances_statistics_contract.py
  tests/unit/schemas/test_instances_query.py
  tests/unit/services/test_instance_list_service_audit_status.py
  tests/unit/services/test_instance_statistics_read_service.py
  tests/unit/services/test_instance_statistics_repository.py
  tests/unit/test_frontend_filter_card_width_presets_contract.py
  tests/unit/test_frontend_instance_list_filters_contract.py
  tests/unit/test_frontend_instance_statistics_semantics_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

移除空白占位
  app/templates/instances/detail.html
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: pyright-guard

彻底修复空白问题
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  app/templates/instances/partials/detail/_accounts_pane.html
  app/templates/instances/partials/detail/_audit_pane.html
  app/templates/instances/partials/detail/_backup_pane.html
  app/templates/instances/partials/detail/_capacity_pane.html
  app/templates/instances/partials/detail/_data_tabs_card.html
  docs/plans/2026-04-15-instance-detail-tabs-refactor.md
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: pyright-guard

新增 veeam 备份告警
  app/api/v1/namespaces/alerts.py
  app/models/email_alert_setting.py
  app/repositories/email_alerts_repository.py
  app/schemas/email_alerts.py
  app/services/alerts/email_alert_digest_service.py
  app/services/alerts/email_alert_event_service.py
  app/services/alerts/email_alert_settings_service.py
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/tasks/email_alert_tasks.py
  app/templates/admin/system-settings/_email-alert-settings-section.html
  migrations/versions/20260415090000_add_backup_issue_email_alert_setting.py
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/services/test_email_alert_event_service.py
  tests/unit/tasks/test_email_alert_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正初始化
  app/scheduler.py
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

veeam 扩展为多来源
  app/api/v1/namespaces/veeam.py
  app/core/types/orm_kwargs.py
  app/models/veeam_machine_backup_snapshot.py
  app/models/veeam_source_binding.py
  app/repositories/veeam_repository.py
  app/schemas/veeam.py
  app/services/task_runs/task_run_summary_builders.py
  app/services/veeam/instance_backup_read_service.py
  app/services/veeam/source_service.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/services/veeam_source_service.js
  app/static/js/modules/views/integrations/veeam/source.js
  app/templates/admin/system-settings/_veeam-source-section.html
  docs/plans/2026-05-13-veeam-multi-source-sync-plan.md
  docs/reports/code-simplicity-audit-2026-05-08-verification.md
  docs/reports/code-simplicity-audit-2026-05-08.md
  migrations/versions/20260513090000_support_multiple_veeam_sources.py
  tests/unit/repositories/test_veeam_repository_snapshot_write_contract.py
  tests/unit/routes/test_api_v1_instances_backup_info_contract.py
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_api_v1_veeam_source_contract.py
  tests/unit/services/test_instance_statistics_repository.py
  tests/unit/services/test_task_run_summary_builders.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整布局
  app/static/css/pages/integrations/jumpserver-source.css
Due: none

新增飞书告警
  app/api/v1/namespaces/alerts.py
  app/models/__init__.py
  app/models/email_alert_event_delivery.py
  app/models/email_alert_setting.py
  app/repositories/email_alerts_repository.py
  app/schemas/email_alerts.py
  app/services/alerts/__init__.py
  app/services/alerts/email_alert_digest_service.py
  app/services/alerts/email_alert_event_service.py
  app/services/alerts/email_alert_settings_service.py
  app/services/alerts/feishu_sender.py
  app/settings.py
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/tasks/email_alert_tasks.py
  app/templates/admin/system-settings/_email-alert-settings-section.html
  app/templates/admin/system-settings/index.html
  docs/Obsidian/reference/config/environment-variables.md
  env.example
  migrations/versions/20260513120000_add_feishu_alert_delivery_settings.py
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/services/test_email_alert_settings_service.py
  tests/unit/tasks/test_email_alert_tasks.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增飞书 测试按钮
  app/api/v1/namespaces/alerts.py
  app/schemas/email_alerts.py
  app/services/alerts/email_alert_settings_service.py
  app/services/alerts/feishu_sender.py
  app/static/js/modules/services/email_alert_settings_service.js
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/templates/admin/system-settings/_email-alert-settings-section.html
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_email_alert_settings_service.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

尝试修复 veeam同步问题
  app/api/v1/namespaces/veeam.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  app/settings.py
  app/static/js/modules/views/integrations/veeam/source.js
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复邮件告警
  app/repositories/email_alerts_repository.py
  app/services/alerts/email_alert_digest_service.py
  tests/unit/repositories/test_email_alerts_repository.py
  tests/unit/services/test_email_alert_digest_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

veeam 同步新增日志
  app/repositories/veeam_repository.py
  app/services/veeam/provider.py
  app/services/veeam/sync_actions_service.py
  pyproject.toml
  tests/unit/repositories/test_capacity_databases_repository_summary_query.py
  tests/unit/repositories/test_scheduler_jobs_repository_last_run_resolution.py
  tests/unit/routes/test_api_v1_accounts_statistics_contract.py
  tests/unit/routes/test_api_v1_auth_contract.py
  tests/unit/routes/test_api_v1_files_contract.py
  tests/unit/routes/test_api_v1_partition_contract.py
  tests/unit/routes/test_web_accounts_ledgers_page_contract.py
  tests/unit/routes/test_web_auth_login_remember.py
  tests/unit/routes/test_web_instances_list_page_contract.py
  tests/unit/services/test_jumpserver_provider.py
  tests/unit/services/test_partition_management_service_cleanup.py
  tests/unit/services/test_partition_management_service_create_partition_schema_usage.py
  tests/unit/services/test_sync_session_service_cleanup.py
  tests/unit/services/test_task_runs_write_service.py
  tests/unit/services/test_veeam_provider.py
  tests/unit/services/test_veeam_sync_actions_service_contract.py
  tests/unit/services/test_yaml_config_validation_scheduler_tasks.py
  tests/unit/tasks/test_accounts_sync_tasks_sync_details_version.py
  tests/unit/test_frontend_veeam_source_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

veeam 同步增加等待
  app/services/veeam/provider.py
  tests/unit/services/test_veeam_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

优化设置页面
  app/static/css/pages/admin/system-settings.css
  app/static/js/modules/views/admin/system-settings/index.js
  app/templates/admin/system-settings/index.html
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: pyright-guard

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
  forms-layer-guard: any of: ^app/forms/.*\.py$
  tasks-layer-guard: any of: ^app/tasks/.*\.py$
  api-layer-guard: any of: ^app/api/v1/.*\.py$
  services-repository-enforcement-guard: any of: ^app/services/.*\.py$
  or-fallback-pattern-guard: any of: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$
