Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

修正路径缺失
  frontend/components.json
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/layout/AppShell.tsx
  frontend/src/utils/cn.ts
  tests/unit/test_react_console_deploy_contract.py
Due: pyright-guard

修正无后缀
  nginx/sites-available/whalefall-dev
  nginx/sites-available/whalefall-prod
  tests/unit/test_react_console_deploy_contract.py
Due: pyright-guard

修正拷贝脚本
  scripts/deploy/update-prod-flask.sh
  tests/unit/test_react_console_deploy_contract.py
Due: pyright-guard

新增页面
  frontend/src/App.tsx
  frontend/src/api/dashboard.test.ts
  frontend/src/api/dashboard.ts
  frontend/src/api/riskCenter.test.ts
  frontend/src/api/riskCenter.ts
  frontend/src/api/statistics.test.ts
  frontend/src/api/statistics.ts
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.test.tsx
  frontend/src/pages/StatisticsPages.tsx
Due: none

ui重构
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/audit.test.ts
  frontend/src/api/audit.ts
  frontend/src/api/capacity.test.ts
  frontend/src/api/capacity.ts
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/progress.test.tsx
  frontend/src/components/ui/progress.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.tsx
  frontend/src/setupTests.ts
  frontend/src/styles.css
  frontend/vite.config.ts
Due: none

继续重构前端
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/dashboard.test.ts
  frontend/src/api/dashboard.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/api/riskCenter.ts
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/migration/legacyParity.test.ts
  frontend/src/migration/legacyParity.ts
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.test.tsx
  frontend/src/pages/StatisticsPages.tsx
Due: none

继续迁移
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

继续页面迁移
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/audit.test.ts
  frontend/src/api/audit.ts
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/components/ui/alert-dialog.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

继续ui重构
  app/routes/console_frontend.py
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/public/static/css/fonts.css
  frontend/public/static/fonts/ibm-plex-mono/IBMPlexMono-Medium.ttf
  frontend/public/static/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf
  frontend/public/static/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Medium.ttf
  frontend/public/static/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBold.ttf
  frontend/public/static/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf
  frontend/public/static/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf
  frontend/public/static/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf
  frontend/public/static/fonts/inter/Inter-Bold.woff2
  frontend/public/static/fonts/inter/Inter-Light.woff2
  frontend/public/static/fonts/inter/Inter-Medium.woff2
  frontend/public/static/fonts/inter/Inter-Regular.woff2
  frontend/public/static/fonts/inter/Inter-SemiBold.woff2
  frontend/public/static/fonts/inter/LICENSE.txt
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/migration/consoleAssetContract.test.ts
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  tests/unit/routes/test_console_frontend_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

继续重构ui
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
Due: none

修复迁移过程中产生的bug问题
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/App.tsx
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/audit.test.ts
  frontend/src/api/audit.ts
  frontend/src/api/capacity.test.ts
  frontend/src/api/capacity.ts
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/migration/legacyParity.ts
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/StatisticsPages.tsx
Due: none

修复bug
  app/schemas/instances_query.py
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/client.test.ts
  frontend/src/api/client.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  tests/unit/schemas/test_instances_query.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

继续重构
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/shared/FormControls.tsx
  frontend/src/components/ui/checkbox.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/sonner.tsx
  frontend/src/components/ui/switch.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/components/ui/tooltip.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/setupTests.ts
  frontend/src/utils/action-feedback.test.ts
  frontend/src/utils/action-feedback.ts
Due: none

ui重构
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/api/capacity.test.ts
  frontend/src/api/capacity.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/api/riskCenter.test.ts
  frontend/src/api/riskCenter.ts
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
Due: none

继续ui重构
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  frontend/src/App.tsx
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.test.tsx
  frontend/src/pages/StatisticsPages.tsx
Due: none

UI重构完成
  app/api/v1/namespaces/scheduler.py
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  tests/unit/routes/test_api_v1_scheduler_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

对比新老页面
  docs/plans/2026-06-18-react-display-parity-tracker.md
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

全面修复
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  frontend/src/App.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.test.tsx
  frontend/src/pages/StatisticsPages.tsx
Due: none

refactor: add server paginated data table
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/shared/useServerTableState.test.tsx
  frontend/src/components/shared/useServerTableState.ts
  frontend/src/components/ui/pagination.tsx
Due: none

fix: align audit and task run data
  frontend/src/api/actions.test.ts
  frontend/src/api/actions.ts
  frontend/src/api/audit.test.ts
  frontend/src/api/audit.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

fix: paginate console resource lists
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

fix: align console summary content
  frontend/src/api/capacity.test.ts
  frontend/src/api/capacity.ts
  frontend/src/api/readOnly.ts
  frontend/src/api/riskCenter.test.ts
  frontend/src/api/riskCenter.ts
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/StatisticsPages.test.tsx
  frontend/src/pages/StatisticsPages.tsx
  frontend/src/utils/display.test.ts
  frontend/src/utils/display.ts
Due: none

fix: align instance detail and settings
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/lists.ts
  frontend/src/components/ui/radio-group.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

docs: close react parity audit
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  docs/reports/2026-06-22-react-legacy-live-parity-audit.md
Due: none

fix: align instance detail tabs and pagination
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/ui/pagination.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
Due: none

修复实例详情
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
Due: none

继续重构
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  docs/reports/2026-06-25-react-legacy-live-parity-audit.md
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  frontend/src/layout/AppShell.test.tsx
  frontend/src/layout/AppShell.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/RemainingReadOnlyPages.test.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
Due: none

UI 修复
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  docs/reports/2026-06-25-react-legacy-live-parity-audit.md
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
Due: none

重建ui
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  docs/reports/2026-06-22-react-legacy-live-parity-audit.md
  docs/reports/2026-06-25-react-legacy-live-parity-audit.md
  frontend/src/App.tsx
  frontend/src/bundleSplitting.test.ts
  frontend/src/layout/AppShell.test.tsx
  frontend/src/layout/AppShell.tsx
  frontend/src/migration/legacyParity.test.ts
  frontend/src/migration/legacyParity.ts
  frontend/src/pages/AboutPage.test.tsx
  frontend/src/pages/AboutPage.tsx
  frontend/src/pages/CatalogAdminPages.tsx
  frontend/src/pages/ClassificationPages.tsx
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/ConsolePageScaffold.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/PartitionsPage.tsx
  frontend/src/pages/RemainingReadOnlyPages.tsx
  frontend/src/pages/SchedulerPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/SyncSessionsPage.tsx
  frontend/vite.config.ts
Due: none

修正图表显示
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/ui/chart.test.tsx
  frontend/src/components/ui/chart.tsx
Due: none

修复部分业务
  app/api/v1/namespaces/instances.py
  app/repositories/instances_repository.py
  app/schemas/instances_query.py
  app/services/files/instances_export_service.py
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  docs/reports/2026-06-25-react-legacy-live-parity-audit.md
  frontend/src/App.tsx
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/api/readOnly.ts
  frontend/src/bundleSplitting.test.ts
  frontend/src/migration/legacyParity.test.ts
  frontend/src/migration/legacyParity.ts
  frontend/src/pages/CatalogAdminPages.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/PartitionsPage.tsx
  frontend/src/pages/TagBulkAssignPage.tsx
  tests/unit/routes/test_api_v1_files_contract.py
  tests/unit/schemas/test_instances_query.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复筛选
  docs/plans/2026-06-11-react-frontend-migration-checklist.md
  docs/plans/2026-06-18-react-display-parity-tracker.md
  frontend/src/components/shared/DataTable.test.tsx
  frontend/src/components/shared/DataTable.tsx
  frontend/src/migration/legacyParity.ts
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CatalogAdminPages.tsx
  frontend/src/pages/ClassificationPages.tsx
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/PartitionsPage.tsx
  frontend/src/pages/RiskCenterPage.test.tsx
  frontend/src/pages/RiskCenterPage.tsx
  frontend/src/pages/SyncSessionsPage.tsx
Due: none

fix: serve root react app reliably
  nginx/sites-available/whalefall-dev
  nginx/sites-available/whalefall-prod
  scripts/ops/docker/start-prod-services.sh
  tests/unit/test_react_console_deploy_contract.py
Due: pyright-guard

修复问题
  app/api/v1/restx_models/account_change_logs.py
  app/repositories/account_change_logs_repository.py
  app/services/history_account_change_logs/history_account_change_logs_read_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/audit.ts
  frontend/src/components/ui/accordion.tsx
  frontend/src/pages/AuditPages.test.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/CatalogAdminPages.tsx
  frontend/src/pages/ClassificationPages.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/PartitionsPage.tsx
  frontend/src/pages/SettingsPage.tsx
  frontend/src/pages/TagBulkAssignPage.tsx
  tests/unit/routes/test_api_v1_account_change_logs_contract.py
  tests/unit/services/test_history_account_change_logs_read_service.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复账户分类
  app/static/js/modules/views/accounts/account-classification/permissions/permission-policy-center.js
  frontend/src/pages/ClassificationPages.tsx
  frontend/src/pages/ConsolePages.test.tsx
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
Due: pyright-guard

修复群集功能异常
  frontend/src/api/lists.test.ts
  frontend/src/api/lists.ts
  frontend/src/components/shared/PermissionSnapshotView.tsx
  frontend/src/pages/CapacityPages.test.tsx
  frontend/src/pages/CapacityPages.tsx
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
Due: none

修复问题
  app/services/scheduler/scheduler_job_write_service.py
  docs/reports/2026-06-30-react-functional-callchain-parity-audit.md
  frontend/src/api/readOnly.test.ts
  frontend/src/pages/ConsolePageScaffold.tsx
  frontend/src/pages/ConsolePages.test.tsx
  frontend/src/pages/SchedulerPage.tsx
  frontend/src/pages/SyncSessionsPage.tsx
  tests/unit/services/test_scheduler_job_write_service_schema_usage.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整 实例页面
  frontend/src/components/ui/chart.test.tsx
  frontend/src/pages/DashboardPage.test.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.test.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/styles.css
Due: none

修复群集问题
  app/services/mysql_clusters/service.py
  frontend/src/api/readOnly.ts
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/ConsolePages.test.tsx
  tests/unit/routes/test_api_v1_mysql_clusters_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
