Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

修复一些兼容性错误
  app/api/v1/namespaces/instances_accounts_sync.py
  app/api/v1/namespaces/users.py
  app/forms/handlers/user_form_handler.py
  app/schemas/users.py
  app/services/accounts_sync/accounts_sync_actions_service.py
  app/services/capacity/current_aggregation_service.py
  app/services/partition/partition_read_service.py
  app/services/partition_management_service.py
  app/services/sync_session_service.py
  app/services/users/user_write_service.py
  app/tasks/accounts_sync_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/partition_management_tasks.py
  docs/Obsidian/Server/partition-services.md
  docs/Obsidian/Server/sync-session-service.md
  docs/Obsidian/Server/user-write-service.md
  docs/Obsidian/canvas/capacity/capacity-flow.canvas
  docs/architecture/capacity-partitions-domain.md
  docs/plans/2026-01-09-service-compat-guard-cleanup.md
  docs/reference/api/services-utils-documentation.md
  tests/unit/routes/test_api_v1_accounts_sync_contract.py
  tests/unit/services/test_partition_management_service_cleanup.py
  tests/unit/services/test_partition_read_service_missing_partitions.py
  tests/unit/services/test_sync_session_service_cleanup.py
  tests/unit/services/test_user_write_service.py
Due: ruff-style-guard, pyright-guard

移除日志导出功能
  app/api/v1/namespaces/logs.py
  app/repositories/unified_logs_repository.py
  app/services/files/logs_export_service.py
  docs/Obsidian/API/logs-api-contract.md
  docs/Obsidian/Server/README.md
  docs/Obsidian/Server/logs-export-service.md
  docs/Obsidian/canvas/logs/logs-api-contract.canvas
  docs/architecture/layer-first-api-restructure.md
  docs/architecture/project-structure.md
  docs/changes/refactor/024-layer-first-api-restructure-progress.md
  docs/plans/2026-01-08-route-layer-scan-inventory.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor-progress.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor.md
  docs/plans/2026-01-09-services-top38-docs-progress.md
  docs/plans/2026-01-09-services-top38-docs.md
  docs/reports/2026-01-08-services-complexity-report.md
  tests/unit/routes/test_api_v1_files_contract.py
Due: ruff-style-guard, pyright-guard

边界重构文档
  docs/changes/refactor/architecture-boundary-violations.md
Due: none

补齐标准
  docs/Obsidian/standards/backend/action-endpoint-failure-semantics.md
  docs/Obsidian/standards/backend/write-operation-boundary.md
  docs/Obsidian/standards/doc/api-contract-markdown-standards.md
  docs/Obsidian/standards/doc/changes-standards.md
  docs/Obsidian/standards/doc/documentation-standards.md
  docs/Obsidian/standards/doc/service-layer-documentation-standards.md
  docs/Obsidian/standards/scripts-standards.md
  docs/Obsidian/standards/ui/async-task-feedback-guidelines.md
  docs/Obsidian/standards/ui/component-dom-id-scope-guidelines.md
  docs/Obsidian/standards/ui/grid-list-page-skeleton-guidelines.md
  docs/Obsidian/standards/ui/javascript-module-standards.md
Due: none

补充文档
  CLAUDE.md
  Makefile.dev
  README.md
  docker-compose.dev.yml
  docs/Obsidian/architecture/README.md
  docs/Obsidian/architecture/developer-entrypoint.md
  docs/Obsidian/architecture/identity-access.md
  docs/Obsidian/architecture/project-structure.md
  docs/Obsidian/architecture/spec.md
  docs/Obsidian/operations/README.md
  docs/Obsidian/operations/observability-ops.md
  docs/Obsidian/reference/README.md
  docs/Obsidian/reference/api/README.md
  docs/Obsidian/reference/api/services-utils-documentation.md
  docs/Obsidian/standards/doc/document-boundary-standards.md
  docs/Obsidian/standards/doc/documentation-standards.md
  docs/README.md
  docs/changes/refactor/024-layer-first-api-restructure-plan.md
  docs/changes/refactor/024-layer-first-api-restructure-progress.md
  docs/getting-started/README.md
  docs/getting-started/local-dev.md
  docs/prompts/architecture.md
  docs/reports/2026-01-07-api-v1-accounts-instances-databases-path-audit.md
  tests/unit/test_docs_no_migration_route_doc_tooling.py
Due: pyright-guard

新增开发文档
  docs/Obsidian/architecture/README.md
  docs/Obsidian/architecture/developer-entrypoint.md
  docs/Obsidian/architecture/flows/README.md
  docs/Obsidian/architecture/glossary-and-boundaries.md
  docs/Obsidian/architecture/module-dependency-graph.md
  docs/Obsidian/operations/README.md
  docs/Obsidian/operations/observability-ops.md
  docs/Obsidian/operations/scheduler-jobstore-ops.md
  docs/Obsidian/reference/README.md
  docs/Obsidian/reference/database/README.md
  docs/Obsidian/reference/database/core-tables-data-dictionary.md
  docs/Obsidian/reference/errors/README.md
  docs/Obsidian/reference/errors/message-code-catalog.md
  docs/Obsidian/reference/examples/README.md
  docs/Obsidian/reference/examples/api-v1-cookbook.md
  docs/Obsidian/reference/security/README.md
  docs/Obsidian/reference/security/permissions-catalog.md
  docs/getting-started/README.md
  docs/getting-started/debugging.md
  docs/plans/2026-01-10-architecture-flows-sops.md
Due: none

审计报告
  docs/reports/2026-01-10-architecture-strategist-audit.md
  docs/reports/2026-01-10-code-simplicity-reviewer-account-classification.md
  docs/reports/2026-01-10-code-simplicity-reviewer-accounts-sync.md
  docs/reports/2026-01-10-code-simplicity-reviewer-aggregation-and-capacity.md
  docs/reports/2026-01-10-code-simplicity-reviewer-misc-services.md
  docs/reports/2026-01-10-code-simplicity-reviewer-platform-services.md
  docs/reports/2026-01-10-code-simplicity-reviewer-service-inventory.md
  docs/reports/2026-01-10-pattern-recognition-specialist-audit.md
  docs/reports/2026-01-10-performance-oracle-audit.md
  docs/reports/2026-01-10-security-sentinel-audit.md
Due: none

api修复
  app/api/v1/namespaces/accounts_classifications.py
  app/api/v1/namespaces/credentials.py
  app/api/v1/namespaces/databases.py
  app/api/v1/namespaces/health.py
  app/api/v1/namespaces/instances_accounts_sync.py
  app/api/v1/namespaces/instances_connections.py
  app/api/v1/namespaces/tags.py
  app/api/v1/namespaces/users.py
  app/constants/classification_constants.py
  app/forms/definitions/account_classification_constants.py
  app/forms/definitions/account_classification_rule_constants.py
  app/repositories/account_classification_repository.py
  app/repositories/accounts_classifications_repository.py
  app/repositories/instance_databases_repository.py
  app/repositories/partition_repository.py
  app/services/account_classification/orchestrator.py
  app/services/accounts/account_classifications_read_service.py
  app/services/accounts/account_classifications_write_service.py
  app/services/accounts_sync/accounts_sync_actions_service.py
  app/services/credentials/__init__.py
  app/services/credentials/credential_detail_read_service.py
  app/services/instances/instance_database_detail_read_service.py
  app/services/instances/instance_detail_read_service.py
  app/services/partition/partition_read_service.py
  app/services/tags/tag_detail_read_service.py
  app/services/tags/tag_write_service.py
  app/services/users/__init__.py
  app/services/users/user_detail_read_service.py
  app/services/users/user_write_service.py
  docs/plans/2026-01-10-architecture-boundary-violations.md
  tests/unit/services/test_sync_session_service_cleanup.py
  tests/unit/services/test_user_write_service.py
Due: ruff-style-guard, pyright-guard

优化错误层
  app/errors/__init__.py
  app/utils/error_mapping.py
  app/utils/response_utils.py
  app/utils/structlog_config.py
  docs/Obsidian/standards/backend/layer/README.md
  docs/Obsidian/standards/backend/layer/api-layer-standards.md
  docs/Obsidian/standards/backend/layer/errors-layer-standards.md
  docs/Obsidian/standards/backend/layer/forms-views-layer-standards.md
  docs/Obsidian/standards/backend/layer/repository-layer-standards.md
  docs/Obsidian/standards/backend/layer/routes-layer-standards.md
Due: ruff-style-guard, pyright-guard

修复引用问题
  docs/Obsidian/architecture/architecture-review.md
  docs/Obsidian/reference/service/README.md
  docs/Obsidian/reference/service/account-classification-dsl-v4.md
  docs/Obsidian/reference/service/account-classification-orchestrator.md
  docs/Obsidian/reference/service/accounts-classifications-write-service.md
  docs/Obsidian/reference/service/accounts-permissions-facts-builder.md
  docs/Obsidian/reference/service/accounts-sync-adapters.md
  docs/Obsidian/reference/service/accounts-sync-overview.md
  docs/Obsidian/reference/service/accounts-sync-permission-manager.md
  docs/Obsidian/reference/service/aggregation-pipeline.md
  docs/Obsidian/reference/service/cache-services.md
  docs/Obsidian/reference/service/capacity-current-aggregation-service.md
  docs/Obsidian/reference/service/connection-test-service.md
  docs/Obsidian/reference/service/credential-write-service.md
  docs/Obsidian/reference/service/database-ledger-service.md
  docs/Obsidian/reference/service/database-sync-adapters.md
  docs/Obsidian/reference/service/database-sync-overview.md
  docs/Obsidian/reference/service/database-sync-table-sizes.md
  docs/Obsidian/reference/service/instances-write-and-batch.md
  docs/Obsidian/reference/service/partition-services.md
  docs/Obsidian/reference/service/scheduler-job-write-service.md
  docs/Obsidian/reference/service/sync-session-service.md
  docs/Obsidian/reference/service/tags-write-service.md
  docs/Obsidian/reference/service/user-write-service.md
  docs/Obsidian/standards/backend/request-payload-and-schema-validation.md
  docs/Obsidian/standards/doc/changes-standards.md
  docs/Obsidian/standards/doc/document-boundary-standards.md
  docs/Obsidian/standards/doc/documentation-standards.md
  docs/Obsidian/standards/scripts-standards.md
  docs/Obsidian/standards/ui/layout-sizing-guidelines.md
Due: none

error 调整
  app/errors.py
  app/utils/error_mapping.py
  docs/Obsidian/architecture/module-dependency-graph.md
  docs/Obsidian/architecture/project-structure.md
  docs/Obsidian/canvas/global-c4-l3-component-layering.canvas
  docs/Obsidian/canvas/global-layer-first-module-dependency-graph.canvas
  docs/Obsidian/standards/backend/layer/README.md
  docs/Obsidian/standards/backend/layer/errors-layer-standards.md
  docs/plans/2026-01-11-remove-errors-directory.md
Due: ruff-style-guard, pyright-guard

移除部分文档
  docs/Obsidian/INDEX.base
  docs/Obsidian/创建链接.md
  docs/changes/refactor/021-dependency-and-utils-library-refactor-plan.md
  docs/changes/refactor/021-dependency-and-utils-library-refactor-progress.md
  docs/changes/refactor/022-frontend-ui-polish-plan.md
  docs/changes/refactor/022-frontend-ui-polish-progress.md
  docs/changes/refactor/023-compatibility-and-fallback-cleanup-plan.md
  docs/changes/refactor/023-compatibility-and-fallback-cleanup-progress.md
  docs/changes/refactor/024-layer-first-api-restructure-plan.md
  docs/changes/refactor/024-layer-first-api-restructure-progress.md
  docs/changes/refactor/025-api-v1-accounts-instances-databases-path-refactor-plan.md
  docs/changes/refactor/025-api-v1-accounts-instances-databases-path-refactor-progress.md
  docs/changes/refactor/architecture-boundary-violations.md
  docs/plans/2026-01-06-domain-diagrams-plan.md
  docs/plans/2026-01-07-move-options-endpoints.md
  docs/plans/2026-01-08-accounts-sync-actions-service.md
  docs/plans/2026-01-08-pagination-page-limit.md
  docs/plans/2026-01-08-route-layer-scan-inventory.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor-progress.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor.md
  docs/plans/2026-01-08-standards-to-obsidian-standards-progress.md
  docs/plans/2026-01-08-standards-to-obsidian-standards.md
  docs/plans/2026-01-09-login-expire-7-days.md
  docs/plans/2026-01-09-service-compat-guard-cleanup.md
  docs/plans/2026-01-09-services-top38-docs-progress.md
  docs/plans/2026-01-09-services-top38-docs.md
  docs/plans/2026-01-10-architecture-boundary-violations.md
  docs/plans/2026-01-10-architecture-flows-sops.md
  docs/plans/2026-01-10-backlog-domains-docs.md
  docs/plans/2026-01-11-remove-errors-directory.md
Due: none

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
