Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

forms-layer-guard:
  name: layer-guard (forms)
  entry: ./scripts/ci/forms-layer-guard.sh
  language: system
  pass_filenames: false

tasks-layer-guard:
  name: layer-guard (tasks)
  entry: ./scripts/ci/tasks-layer-guard.sh
  language: system
  pass_filenames: false

api-layer-guard:
  name: layer-guard (api v1)
  entry: ./scripts/ci/api-layer-guard.sh
  language: system
  pass_filenames: false

services-repository-enforcement-guard:
  name: layer-guard (services repository enforcement)
  entry: ./scripts/ci/services-repository-enforcement-guard.sh
  language: system
  pass_filenames: false

or-fallback-pattern-guard:
  name: guard (or fallback patterns)
  entry: ./scripts/ci/or-fallback-pattern-guard.sh
  language: system
  pass_filenames: false

ag 面板修复
  app/api/v1/namespaces/sqlserver_clusters.py
  app/core/types/orm_kwargs.py
  app/models/sqlserver_ag_sync_state.py
  app/services/cluster_status_sync/read_service.py
  app/services/cluster_status_sync/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  migrations/versions/20260525100000_add_sqlserver_ag_replica_sync_states.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/test_cluster_status_sync_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复弹窗入口问题
  app/routes/cluster.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

调整 ag判断
  app/services/cluster_status_sync/service.py
  tests/unit/services/test_cluster_status_sync_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

mysql 群集增加原因
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: pyright-guard

feat: add cluster status alert rule
  app/api/v1/namespaces/alerts.py
  app/models/email_alert_setting.py
  app/repositories/email_alerts_repository.py
  app/schemas/email_alerts.py
  app/services/alerts/email_alert_digest_service.py
  app/services/alerts/email_alert_event_service.py
  app/services/alerts/email_alert_settings_service.py
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/tasks/cluster_status_sync_tasks.py
  app/tasks/email_alert_tasks.py
  app/templates/admin/system-settings/_email-alert-settings-section.html
  migrations/versions/20260526090000_add_cluster_status_alert_setting.py
  tests/unit/repositories/test_email_alerts_repository.py
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/services/test_email_alert_event_service.py
  tests/unit/services/test_email_alert_settings_service.py
  tests/unit/tasks/test_cluster_status_sync_tasks.py
  tests/unit/tasks/test_email_alert_tasks.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

精简功能
  app/api/v1/namespaces/mysql_clusters.py
  app/api/v1/namespaces/sqlserver_clusters.py
  app/repositories/email_alerts_repository.py
  app/schemas/mysql_clusters.py
  app/schemas/sqlserver_clusters.py
  app/services/cluster_status_sync/read_service.py
  app/services/mysql_clusters/service.py
  app/static/js/modules/stores/mysql_clusters_store.js
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/cluster/sqlserver-status.js
  app/templates/cluster/list.html
  app/templates/cluster/sqlserver_status.html
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/test_cluster_status_sync_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

统一群集 ui
  app/models/mysql_cluster.py
  app/services/mysql_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  migrations/versions/20260526130000_add_mysql_replication_diagnostics.py
  tests/unit/routes/test_api_v1_mysql_clusters_contract.py
  tests/unit/services/test_mysql_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

群集细节调整
  app/api/v1/namespaces/accounts.py
  app/core/types/accounts_ledgers.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/schemas/accounts_query.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/services/accounts_ledgers_service.js
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/services/test_account_export_service.py
  tests/unit/services/test_accounts_ledger_ad_status.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

修正没有配置侦听器 无法同步的问题
  app/core/types/orm_kwargs.py
  app/models/sqlserver_cluster.py
  app/schemas/sqlserver_clusters.py
  app/services/sqlserver_clusters/service.py
  app/static/js/modules/views/cluster/list.js
  migrations/versions/20260526150000_allow_sqlserver_ag_without_listener.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复群集任务卡住的问题
  app/services/cluster_status_sync/service.py
  app/tasks/cluster_status_sync_tasks.py
  tests/unit/services/test_cluster_status_sync_service.py
  tests/unit/tasks/test_cluster_status_sync_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

风险中心补全
  app/api/v1/namespaces/risk_center.py
  app/models/__init__.py
  app/models/risk_center_rule_setting.py
  app/services/risk_center/risk_center_read_service.py
  app/services/risk_center/risk_center_rule_settings_service.py
  app/static/css/pages/admin/system-settings.css
  app/static/css/pages/risk-center.css
  app/static/js/modules/services/risk_center_rule_settings_service.js
  app/static/js/modules/views/admin/risk-center/rule-settings.js
  app/static/js/modules/views/risk-center/index.js
  app/templates/admin/system-settings/_risk-rule-settings-section.html
  app/templates/admin/system-settings/index.html
  app/templates/risk_center/index.html
  migrations/versions/20260527100000_add_risk_center_rule_settings.py
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整风险中心
  app/services/risk_center/risk_center_read_service.py
  app/services/risk_center/risk_center_rule_settings_service.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正风险中心
  app/services/risk_center/risk_center_read_service.py
  app/services/risk_center/risk_center_rule_settings_service.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

增加群集判断
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  app/static/js/modules/views/risk-center/index.js
  app/templates/risk_center/index.html
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复群集状态不正常的情况
  app/services/risk_center/risk_center_read_service.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

风险中心过滤正常的实例
  app/services/risk_center/risk_center_read_service.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复错误
  app/models/task_run.py
  app/models/task_run_item.py
  app/services/mysql_clusters/service.py
  migrations/versions/20260528100000_expand_task_run_status_columns.py
  tests/unit/models/test_task_run_status_columns.py
  tests/unit/services/test_mysql_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

移动风险中心和菜单
  app/routes/dashboard.py
  app/static/js/modules/views/risk-center/index.js
  app/templates/base.html
  app/templates/dashboard/overview.html
  app/templates/risk_center/_risk_alert_board.html
  app/templates/risk_center/index.html
  tests/unit/routes/test_api_v1_dashboard_contract.py
  tests/unit/test_frontend_risk_center_layout_contract.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

清理部分无效文件
  app/services/account_classification/cache.py
  app/services/common/options_cache.py
  app/static/vendor/bootstrap/bootstrap-flatly.min.css
  app/static/vendor/nprogress/nprogress.css
  app/static/vendor/nprogress/nprogress.js
  design/README.md
  design/whalefall-ui-imagegen.jsonl
  docs/reports/2026-04-29-code-simplicity-project-audit.md
  docs/reports/README.md
  docs/reports/artifacts/2026-04-29-code-simplicity/broad_exception_refs.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/ci_eslint_report_quick_stdout.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/ci_pyright_report_stdout.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/ci_refactor_naming_dry_run_stdout.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/ci_ruff_report_style_stdout.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/code_stats_app_top80.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/db_boundary_refs.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/eslint_direct_full.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/fallback_legacy_refs.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/frontend_console_refs.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/node_check_instance_detail_js.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/pyright_full.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/pytest_unit.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/ruff_app_concise.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/static_img_logo_hashes.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/text_smell_counts.txt
  docs/reports/artifacts/2026-04-29-code-simplicity/top_files_wc_l.txt
  docs/reports/artifacts/README.md
  docs/reports/clean-code-analysis.md
  docs/reports/code-simplicity-audit-2026-05-08-verification.md
  docs/reports/code-simplicity-audit-2026-05-08.md
  docs/reports/naming_guard_report.txt
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正运行中心部分英文的问题
  app/core/constants/filter_options.py
  app/static/js/modules/ui/terms.js
  app/static/js/modules/views/history/sessions/session-detail.js
  app/static/js/modules/views/history/sessions/sync-sessions.js
  sql/patches/2025/20251208_remove_tag_sort_description.sql
  tests/unit/services/test_task_run_filter_labels_contract.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复门禁
  app/api/v1/__init__.py
  app/api/v1/namespaces/accounts.py
  app/repositories/account_classification_repository.py
  app/services/account_classification/cache.py
  app/services/account_classification/orchestrator.py
  app/services/accounts_sync/permission_manager.py
  app/services/common/filter_options_service.py
  app/services/common/options_cache.py
  app/services/connection_adapters/adapters/mysql_adapter.py
  app/static/js/modules/views/accounts/statistics.js
  docs/reports/naming_guard_report.txt
  migrations/versions/20260521130000_add_account_classification_owner_scope.py
  migrations/versions/20260521160000_add_ad_domain_sync_fields.py
  migrations/versions/20260525060000_add_cluster_status_sync_models.py
  migrations/versions/20260525080000_add_sqlserver_cluster_status_sync_summary.py
  migrations/versions/20260525100000_add_sqlserver_ag_replica_sync_states.py
  tests/unit/models/test_task_run_status_columns.py
  tests/unit/routes/test_api_v1_ad_domain_configs_contract.py
  tests/unit/routes/test_api_v1_mysql_clusters_contract.py
  tests/unit/services/accounts_sync/test_account_inventory_owner_scope.py
  tests/unit/services/accounts_sync/test_accounts_sync_service_sync_details_version.py
  tests/unit/services/test_mysql_cluster_management_service.py
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/services/test_sqlserver_connection_logging.py
  tests/unit/tasks/test_cluster_status_sync_tasks.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

菜单错误
  app/templates/base.html
Due: none

UI 重构
  DESIGN.md
  app/static/css/components/buttons.css
  app/static/css/components/filters/filter-common.css
  app/static/css/components/metric-card.css
  app/static/css/components/table.css
  app/static/css/global.css
  app/static/css/pages/accounts/ledgers.css
  app/static/css/pages/dashboard/overview.css
  app/static/css/pages/risk-center.css
  app/static/css/variables.css
  app/static/js/modules/views/dashboard/overview.js
  app/static/js/modules/views/risk-center/index.js
  app/templates/accounts/ledgers.html
  app/templates/dashboard/overview.html
  app/templates/risk_center/index.html
  docs/Obsidian/standards/ui/README.md
  docs/Obsidian/standards/ui/design/metric-card.md
  docs/Obsidian/standards/ui/gate/layout-sizing.md
  docs/Obsidian/standards/ui/guide/color.md
  tests/unit/test_ui_density_reset_contract.py
Due: pyright-guard

删除页面标题
  app/static/css/global.css
  app/static/css/pages/dashboard/overview.css
  app/static/js/modules/ui/sidebar-scroll.js
  app/templates/base.html
  app/templates/components/ui/page_header.html
  tests/unit/test_ui_density_reset_contract.py
Due: pyright-guard

统一ui
  app/static/css/pages/about.css
  app/static/css/pages/auth/login.css
  app/static/js/modules/ui/progress-bars.js
  app/static/js/modules/views/accounts/statistics.js
  app/static/js/modules/views/databases/statistics.js
  app/static/js/modules/views/tags/batch-assign.js
  app/templates/about.html
  app/templates/accounts/account-classification/index.html
  app/templates/accounts/classification_statistics.html
  app/templates/accounts/statistics.html
  app/templates/admin/partitions/index.html
  app/templates/admin/scheduler/index.html
  app/templates/admin/system-settings/index.html
  app/templates/auth/list.html
  app/templates/auth/login.html
  app/templates/base.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/cluster/list.html
  app/templates/credentials/list.html
  app/templates/databases/ledgers.html
  app/templates/databases/statistics.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
  app/templates/history/sessions/sync-sessions.html
  app/templates/instances/detail.html
  app/templates/instances/list.html
  app/templates/instances/statistics.html
  app/templates/tags/bulk/assign.html
  app/templates/tags/index.html
  tests/unit/test_ui_density_reset_contract.py
Due: pyright-guard

弹窗纳入覆盖
  app/static/css/components/crud-modal.css
  app/static/css/components/modals.css
  app/static/css/components/tag-selector.css
  app/static/css/global.css
  app/static/css/pages/history/logs-detail.css
  app/static/js/modules/ui/danger-confirm.js
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/static/js/modules/views/auth/modals/change-password-modals.js
  app/static/js/modules/views/auth/modals/user-modals.js
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/credentials/modals/credential-modals.js
  app/static/js/modules/views/instances/modals/instance-modals.js
  app/static/js/modules/views/tags/modals/tag-modals.js
  app/templates/components/ui/danger_confirm_modal.html
  app/templates/components/ui/modal.html
  scripts/ci/frontend-contracts-guard.sh
  tests/unit/test_frontend_modal_layering_contract.py
Due: pyright-guard

修复ui冲突问题
  AGENTS.md
  app/static/css/components/buttons.css
  app/static/css/pages/accounts/ledgers.css
  app/static/css/pages/admin/partitions.css
  app/static/css/pages/auth/list.css
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/admin/partitions/index.js
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/databases/ledgers.js
  app/static/js/modules/views/history/sessions/sync-sessions.js
  app/static/js/modules/views/instances/detail.js
  app/templates/accounts/account-classification/index.html
  app/templates/admin/partitions/index.html
  app/templates/admin/scheduler/index.html
  app/templates/auth/list.html
  app/templates/cluster/list.html
  app/templates/components/tag_selector.html
  app/templates/credentials/list.html
  app/templates/instances/detail.html
  scripts/ci/component-style-drift-guard.sh
  scripts/ci/frontend-contracts-guard.sh
  tests/unit/test_frontend_button_system_contract.py
  tests/unit/test_ui_density_reset_contract.py
Due: pyright-guard

移除 jwt
  app/__init__.py
  app/api/v1/namespaces/auth.py
  app/services/auth/auth_me_read_service.py
  app/services/auth/login_service.py
  app/settings.py
  docs/Obsidian/API/auth-api-contract.md
  docs/Obsidian/architecture/flows/login.md
  docs/Obsidian/architecture/identity-access.md
  docs/Obsidian/architecture/spec.md
  docs/Obsidian/canvas/auth/api-login-sequence.canvas
  docs/Obsidian/getting-started/local-dev.md
  docs/Obsidian/operations/deployment/deployment-guide.md
  docs/Obsidian/reference/config/environment-variables.md
  docs/Obsidian/reference/examples/api-v1-cookbook.md
  docs/Obsidian/reference/service/auth-services.md
  docs/Obsidian/standards/backend/gate/bootstrap-and-entrypoint.md
  docs/Obsidian/standards/backend/gate/layer/settings-layer.md
  docs/Obsidian/standards/backend/standard/configuration-and-secrets.md
  docs/Obsidian/standards/core/guide/testing.md
  env.example
  pyproject.toml
  tests/conftest.py
  tests/unit/routes/test_api_v1_auth_contract.py
  tests/unit/test_settings_database_url_policy.py
  tests/unit/test_settings_password_encryption_key_validation.py
  uv.lock
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复定时任务数据分散问题
  app/api/v1/restx_models/scheduler.py
  app/config/scheduler_tasks.yaml
  app/core/constants/scheduler_jobs.py
  app/core/types/scheduler.py
  app/scheduler.py
  app/schemas/yaml_configs.py
  app/services/scheduler/scheduler_jobs_read_service.py
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/templates/admin/scheduler/modals/scheduler-modals.html
  docs/Obsidian/API/scheduler-api-contract.md
  docs/Obsidian/architecture/domain/scheduler-domain.md
  docs/Obsidian/architecture/project-structure.md
  docs/Obsidian/architecture/spec.md
  docs/Obsidian/reference/service/scheduler-job-write-service.md
  docs/reports/code-simplicity-review-2026-06-09.md
  tests/unit/routes/test_api_v1_scheduler_contract.py
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
  tests/unit/services/test_yaml_config_validation_scheduler_tasks.py
  tests/unit/test_frontend_scheduler_email_alert_edit_contract.py
  tests/unit/test_frontend_scheduler_veeam_edit_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

统一生命周期
  app/services/task_runs/task_runs_write_service.py
  app/services/veeam/sync_actions_service.py
  app/tasks/account_classification_auto_tasks.py
  app/tasks/account_classification_daily_tasks.py
  app/tasks/accounts_sync_tasks.py
  app/tasks/ad_sync_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/capacity_collection_tasks.py
  app/tasks/capacity_current_aggregation_tasks.py
  app/tasks/cluster_status_sync_tasks.py
  app/tasks/email_alert_tasks.py
  docs/Obsidian/standards/backend/standard/task-and-scheduler.md
  tests/unit/services/test_task_runs_write_service.py
  tests/unit/tasks/test_capacity_collection_tasks_no_cover_branches.py
  tests/unit/tasks/test_email_alert_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

F04 调度器前端 Loading 与死入口清理计划
  app/services/task_runs/task_run_summary_builders.py
  app/services/task_runs/task_runs_write_service.py
  app/services/veeam/sync_actions_service.py
  app/static/js/modules/ui/button-loading.js
  app/static/js/modules/views/admin/scheduler/index.js
  app/tasks/ad_sync_tasks.py
  app/tasks/cluster_status_sync_tasks.py
  docs/Obsidian/standards/backend/standard/task-and-scheduler.md
  tests/unit/services/test_task_run_summary_builders.py
  tests/unit/services/test_task_runs_write_service.py
  tests/unit/tasks/test_ad_sync_tasks.py
  tests/unit/tasks/test_cluster_status_sync_tasks.py
  tests/unit/test_frontend_button_system_contract.py
  tests/unit/test_frontend_scheduler_loading_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

拆分veeam同步
  app/repositories/veeam_repository.py
  app/services/veeam/backup_file_metric_merger.py
  app/services/veeam/match_sampler.py
  app/services/veeam/provider.py
  app/services/veeam/run_summary_writer.py
  app/services/veeam/sync_actions_service.py
  app/services/veeam/types.py
  app/tasks/veeam_backup_sync_tasks.py
  tests/unit/repositories/test_veeam_repository_snapshot_write_contract.py
  tests/unit/services/test_veeam_backup_file_metric_merger.py
  tests/unit/services/test_veeam_match_sampler.py
  tests/unit/services/test_veeam_run_summary_writer.py
  tests/unit/tasks/test_veeam_backup_sync_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增了统一的异常 contract：
  app/services/alerts/alert_event_candidates.py
  app/services/alerts/email_alert_event_service.py
  app/services/cluster_status_sync/issue_contract.py
  app/services/mysql_clusters/service.py
  app/services/mysql_clusters/topology_detector.py
  app/services/risk_center/risk_center_read_service.py
  app/tasks/cluster_status_sync_tasks.py
  tests/unit/services/test_alert_event_candidates.py
  tests/unit/services/test_cluster_status_issue_contract.py
  tests/unit/services/test_mysql_topology_detector.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

移除账户分类的 name字段
  app/api/v1/namespaces/accounts.py
  app/api/v1/namespaces/accounts_classifications.py
  app/api/v1/namespaces/dashboard.py
  app/api/v1/restx_models/accounts.py
  app/core/types/account_scope.py
  app/core/types/accounts_classifications.py
  app/core/types/accounts_ledgers.py
  app/models/account_classification.py
  app/repositories/account_statistics_repository.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/schemas/account_classifications.py
  app/services/accounts/account_classifications_read_service.py
  app/services/files/account_export_service.py
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/accounts/account-classification/modals/classification-modals.js
  app/static/js/modules/views/accounts/account-classification/modals/rule-modals.js
  app/static/js/modules/views/accounts/ledgers.js
  app/tasks/account_classification_auto_tasks.py
  docs/Obsidian/API/accounts-api-contract.md
  docs/Obsidian/architecture/flows/auto-classify.md
  docs/Obsidian/reference/service/account-classification-orchestrator.md
  docs/Obsidian/reference/service/accounts-statistics-read-service.md
  docs/Obsidian/reference/service/auto-classify-service.md
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/routes/test_api_v1_accounts_statistics_contract.py
  tests/unit/services/test_account_classification_write_service.py
  tests/unit/services/test_account_export_service.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整证书
  Dockerfile.prod
  docker-compose.prod.yml
  env.example
  nginx/sites-available/whalefall-prod
  scripts/ops/docker/start-prod-services.sh
  tests/unit/test_react_console_deploy_contract.py
Due: secrets-guard-env-example, pyright-guard

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
  forms-layer-guard: any of: ^app/forms/.*\.py$
  tasks-layer-guard: any of: ^app/tasks/.*\.py$
  api-layer-guard: any of: ^app/api/v1/.*\.py$
  services-repository-enforcement-guard: any of: ^app/services/.*\.py$
  or-fallback-pattern-guard: any of: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$
