Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

ag账户同步独立
  app/api/v1/namespaces/sqlserver_clusters.py
  app/repositories/accounts_sync_repository.py
  app/services/accounts_sync/accounts_sync_service.py
  app/services/accounts_sync/inventory_manager.py
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/sqlserver_clusters/service.py
  app/services/task_runs/task_run_summary_builders.py
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/cluster/list.js
  app/tasks/accounts_sync_tasks.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/accounts_sync/test_account_inventory_owner_scope.py
  tests/unit/services/accounts_sync/test_accounts_sync_service_sync_details_version.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/tasks/test_accounts_sync_tasks_ag_clusters.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整ag同步 ui操作按钮
  app/services/ledgers/accounts_ledger_list_service.py
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/history/sessions/session-detail.js
  app/tasks/accounts_sync_tasks.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/tasks/test_accounts_sync_tasks_ag_clusters.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复uv安装路径
  Dockerfile.prod
  requirements-prod.txt
Due: none

调整 uv安装
  Dockerfile.prod
Due: none

调整uv
  Dockerfile.prod
Due: none

新增ad设置
  app/static/js/modules/services/ad_domain_configs_service.js
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/static/js/modules/views/integrations/ad-domain/configs.js
  app/templates/admin/scheduler/modals/scheduler-modals.html
  app/templates/admin/system-settings/_ad-domain-configs-section.html
  app/templates/admin/system-settings/index.html
  tests/unit/test_frontend_scheduler_ad_sync_edit_contract.py
  tests/unit/test_frontend_system_settings_ad_domain_contract.py
Due: pyright-guard

新增 ad凭据
  app/core/constants/filter_options.py
  app/static/js/modules/views/credentials/list.js
  tests/unit/test_frontend_credentials_modal_api_copy_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复ad同步测试
  app/services/ad_sync/ldap_provider.py
  tests/unit/services/ad_sync/test_ldap_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复ad链接出现奇怪ip
  app/services/ad_sync/ldap_provider.py
  tests/unit/services/ad_sync/test_ldap_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 ldap同步
  app/services/ad_sync/ldap_provider.py
  tests/unit/services/ad_sync/test_ldap_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 null问题
  app/models/unified_log.py
  tests/unit/utils/test_structlog_log_entry_schema.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复 base dn
  app/schemas/ad_domain_config.py
  app/services/ad_sync/ldap_provider.py
  tests/unit/schemas/test_ad_domain_config.py
  tests/unit/services/ad_sync/test_ldap_provider.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

同步数量同步
  app/services/ad_sync/ad_domain_config_service.py
  app/static/js/modules/views/integrations/ad-domain/configs.js
  tests/unit/routes/test_api_v1_ad_domain_configs_contract.py
  tests/unit/test_frontend_system_settings_ad_domain_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复账户匹配问题
  app/services/ad_sync/ad_account_match_service.py
  tests/unit/services/ad_sync/test_ad_account_match_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

尝试获取完整ad账户
  app/services/ad_sync/ad_domain_config_service.py
  app/services/ad_sync/ldap_provider.py
  app/static/js/modules/views/integrations/ad-domain/configs.js
  app/tasks/ad_sync_tasks.py
  tests/unit/routes/test_api_v1_ad_domain_configs_contract.py
  tests/unit/services/ad_sync/test_ldap_provider.py
  tests/unit/tasks/test_ad_sync_tasks.py
  tests/unit/test_frontend_system_settings_ad_domain_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

移除ad账户同步定时任务
  app/config/scheduler_tasks.yaml
  app/core/constants/scheduler_jobs.py
  app/scheduler.py
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/tasks/ad_sync_tasks.py
  app/templates/admin/scheduler/modals/scheduler-modals.html
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
  tests/unit/tasks/test_ad_sync_tasks.py
  tests/unit/test_frontend_scheduler_ad_sync_edit_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, or-fallback-pattern-guard

修正数据统计
  app/api/v1/namespaces/accounts.py
  app/api/v1/namespaces/dashboard.py
  app/api/v1/restx_models/accounts.py
  app/core/types/accounts_statistics.py
  app/repositories/account_statistics_repository.py
  app/routes/cluster.py
  app/services/accounts/accounts_statistics_read_service.py
  app/services/dashboard/dashboard_overview_service.py
  app/services/files/account_export_service.py
  app/static/css/pages/dashboard/overview.css
  app/static/js/modules/views/accounts/statistics.js
  app/static/js/modules/views/cluster/list.js
  app/templates/accounts/statistics.html
  app/templates/base.html
  app/templates/cluster/list.html
  app/templates/dashboard/overview.html
  tests/unit/routes/test_api_v1_accounts_statistics_contract.py
  tests/unit/routes/test_api_v1_dashboard_contract.py
  tests/unit/services/test_account_export_service.py
  tests/unit/services/test_dashboard_overview_service.py
  tests/unit/test_frontend_dashboard_and_statistics_state_semantics_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复首页仪表盘显示异常
  app/static/css/pages/dashboard/overview.css
  app/templates/dashboard/overview.html
  tests/unit/test_frontend_dashboard_and_statistics_state_semantics_contract.py
Due: pyright-guard

新增mysql群集功能
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/namespaces/mysql_clusters.py
  app/api/v1/namespaces/sqlserver_clusters.py
  app/config/scheduler_tasks.yaml
  app/core/constants/scheduler_jobs.py
  app/models/__init__.py
  app/models/mysql_cluster.py
  app/models/sqlserver_ag_sync_state.py
  app/routes/cluster.py
  app/scheduler.py
  app/schemas/mysql_clusters.py
  app/services/cluster_status_sync/__init__.py
  app/services/cluster_status_sync/service.py
  app/services/connection_adapters/adapters/mysql_adapter.py
  app/services/mysql_clusters/__init__.py
  app/services/mysql_clusters/service.py
  app/services/sqlserver_clusters/service.py
  app/static/js/modules/services/mysql_clusters_service.js
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/mysql_clusters_store.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/cluster/list.js
  app/tasks/cluster_status_sync_tasks.py
  app/templates/cluster/list.html
  migrations/versions/20260525060000_add_cluster_status_sync_models.py
  tests/unit/services/test_cluster_status_sync_service.py
  tests/unit/services/test_mysql_cluster_management_service.py
  tests/unit/services/test_scheduler_builtin_task_identity_contract.py
  tests/unit/tasks/test_cluster_status_sync_tasks.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复mysql群集检测
  app/services/mysql_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/services/test_mysql_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增 ag 具体的数据库页面
  app/api/v1/namespaces/sqlserver_clusters.py
  app/core/types/orm_kwargs.py
  app/models/sqlserver_cluster.py
  app/routes/cluster.py
  app/schemas/sqlserver_clusters.py
  app/services/cluster_status_sync/read_service.py
  app/services/cluster_status_sync/service.py
  app/services/mysql_clusters/service.py
  app/services/sqlserver_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/cluster/sqlserver-status.js
  app/templates/cluster/list.html
  app/templates/cluster/sqlserver_status.html
  migrations/versions/20260525080000_add_sqlserver_cluster_status_sync_summary.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/test_cluster_status_sync_service.py
  tests/unit/services/test_mysql_cluster_management_service.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修正绑定问题
  app/services/mysql_clusters/service.py
  app/services/sqlserver_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/templates/cluster/list.html
  tests/unit/services/test_mysql_cluster_management_service.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
