Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

chore: add sensitive terms guard
  scripts/ci/sensitive-terms-guard.sh
Due: none

test: register sqlserver cluster models in adapter tests
  tests/unit/services/test_sqlserver_adapter_permissions.py
Due: pyright-guard

chore: satisfy quality report gates
  app/services/cluster_status_sync/issue_contract.py
  app/services/history_account_change_logs/history_account_change_logs_read_service.py
  app/services/veeam/backup_file_metric_merger.py
  app/services/veeam/match_sampler.py
  app/services/veeam/provider.py
  app/tasks/email_alert_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

群集信息修正
  frontend/src/pages/ClustersPage.tsx
Due: none

群集显示已经绑定
  app/services/mysql_clusters/service.py
  app/settings.py
  env.example
  frontend/src/api/readOnly.ts
  frontend/src/pages/ClustersPage.tsx
  frontend/src/utils/cluster-binding.test.ts
  frontend/src/utils/cluster-binding.ts
  tests/unit/routes/test_api_v1_mysql_clusters_contract.py
  tests/unit/test_settings_enable_scheduler_flag.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复群集绑定问题
  app/api/v1/namespaces/mysql_clusters.py
  app/api/v1/namespaces/sqlserver_clusters.py
  frontend/src/api/readOnly.test.ts
  frontend/src/api/readOnly.ts
  tests/unit/routes/test_api_v1_mysql_clusters_contract.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

调整 设置页面
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/SettingsPage.tsx
Due: none

修复审计信息
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/StatisticsPages.tsx
  frontend/src/pages/instanceAuditView.test.ts
  frontend/src/pages/instanceAuditView.ts
  frontend/src/pages/statisticsView.test.ts
  frontend/src/pages/statisticsView.ts
Due: none

统一色系
  frontend/src/components/shared/DataTable.tsx
  frontend/src/components/shared/PermissionSnapshotView.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/chart.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/table.tsx
  frontend/src/components/ui/tabs.tsx
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/ClassificationPages.tsx
  frontend/src/pages/ClustersPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/ListPages.tsx
  frontend/src/pages/PartitionsPage.tsx
  frontend/src/pages/StatisticsPages.tsx
  frontend/src/styles.css
Due: none

新增日志翻译层
  app/api/v1/namespaces/logs.py
  app/api/v1/restx_models/history.py
  app/core/types/history_logs.py
  app/infra/logging/request_middleware.py
  app/services/dashboard/dashboard_overview_service.py
  app/services/database_sync/inventory_manager.py
  app/services/history_logs/history_log_display_service.py
  app/services/history_logs/history_logs_extras_service.py
  app/services/history_logs/history_logs_list_service.py
  app/services/instances/batch_service.py
  app/utils/logging/handlers.py
  frontend/src/api/audit.test.ts
  frontend/src/api/audit.ts
  frontend/src/pages/AuditPages.tsx
  frontend/src/pages/auditView.test.ts
  frontend/src/pages/auditView.ts
  tests/unit/routes/test_api_v1_history_logs_contract.py
  tests/unit/services/test_history_log_display_service.py
  tests/unit/utils/test_request_logging_wide_events.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
