Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

移除
  docs/plans/2025-12-27-deploy-skip-partitions-and-strict-healthcheck.md
  docs/plans/2025-12-27-restx-openapi-phase1-health.md
  docs/plans/2025-12-27-restx-openapi-phase2-core-domains.md
  docs/plans/2025-12-27-restx-openapi-phase2-credentials-write.md
  docs/plans/2025-12-27-restx-openapi-phase2-instances-accounts.md
  docs/plans/2025-12-27-restx-openapi-phase2-instances-database-sizes.md
  docs/plans/2025-12-27-restx-openapi-phase2-instances-write.md
  docs/plans/2025-12-27-restx-openapi-phase2-tags-by-name.md
  docs/plans/2025-12-27-restx-openapi-phase2-tags-write.md
  docs/plans/2025-12-27-restx-openapi-phase3-instances-aggregations-batch-statistics-health.md
  docs/plans/2025-12-27-restx-openapi-phase4-cache-logs.md
  docs/plans/2025-12-27-restx-openapi-phase4-partition-scheduler.md
  docs/plans/2025-12-27-restx-openapi-phase4-sessions-tags-bulk.md
  docs/plans/2025-12-27-restx-openapi-phase5-users-files-admin.md
  docs/plans/2025-12-28-db-type-single-source-of-truth.md
  docs/plans/2025-12-28-restx-openapi-phase3-docs-model-metadata.md
  docs/plans/2025-12-28-restx-openapi-phase4-remove-legacy-routes-api.md
  docs/plans/2025-12-29-account-classification-dsl-v2.md
  docs/plans/2025-12-29-account-permission-storage-v2.md
  docs/plans/2025-12-29-account-permissions-refactor-v2-overview.md
  docs/plans/2025-12-29-dbtype-doris-onboarding.md
  docs/plans/2025-12-29-grid-list-page-skeleton-phase0.md
  docs/plans/2025-12-29-tag-selector-filter-scoped-dom-ids.md
  docs/plans/2025-12-30-017-account-permissions-refactor-v4-phase5.md
  docs/plans/2025-12-30-account-permissions-phase7-drop-legacy-columns.md
  docs/plans/2025-12-30-account-permissions-refactor-v3.md
  docs/plans/2025-12-30-account-permissions-refactor-v4.md
  docs/plans/2025-12-30-permission-facts-column.md
  docs/plans/2025-12-31-db-md-verifiable-rewrite.md
  docs/plans/2025-12-31-migration-code-cleanup-design.md
  docs/plans/2025-12-31-migration-code-cleanup-phase1.md
  docs/plans/2025-12-31-virtualization-inventory-design.md
  docs/plans/2026-01-02-instance-database-table-sizes.md
  docs/plans/2026-01-02-ruff-style-cleanup.md
  docs/plans/2026-01-03-compat-fallback-migration-cleanup.md
  docs/plans/2026-01-03-pyright-zero-errors.md
  docs/plans/2026-01-03-remove-legacy-module-api-compat.md
  docs/plans/2026-01-03-third-party-library-adoption-and-dependency-pruning.md
  docs/plans/2026-01-04-data-validator-third-party-replacement-design.md
  docs/plans/2026-01-04-data-validator-third-party-replacement-progress.md
Due: none

引入文字
  docs/Obsidian/canvas/api-v1-api-contract.canvas
  docs/Obsidian/canvas/credentials/credentials-connection-api-contract.canvas
  docs/Obsidian/canvas/global-system-architecture.canvas
  docs/Obsidian/canvas/scheduler-api-contract.canvas
  docs/Obsidian/canvas/template.canvas
  docs/Obsidian/未命名 1.md
  docs/Obsidian/未命名.md
  docs/Obsidian/索引.base
Due: none

补齐api文件
  docs/Obsidian/API/api-v1-api-contract.md
  docs/Obsidian/API/auth-api-contract.md
  docs/Obsidian/API/cache-api-contract.md
  docs/Obsidian/API/capacity-api-contract.md
  docs/Obsidian/API/credentials-api-contract.md
  docs/Obsidian/API/dashboard-api-contract.md
  docs/Obsidian/API/databases-api-contract.md
  docs/Obsidian/API/health-api-contract.md
  docs/Obsidian/API/instances-api-contract.md
  docs/Obsidian/API/logs-api-contract.md
  docs/Obsidian/API/partition-api-contract.md
  docs/Obsidian/API/scheduler-api-contract.md
  docs/Obsidian/API/sessions-api-contract.md
  docs/Obsidian/API/tags-api-contract.md
  docs/Obsidian/API/users-api-contract.md
Due: none

路由层 拆分
  app/api/v1/namespaces/instances_accounts_sync.py
  app/services/accounts_sync/__init__.py
  app/services/accounts_sync/accounts_sync_actions_service.py
  docs/plans/2026-01-08-accounts-sync-actions-service.md
  tests/unit/routes/test_api_v1_accounts_sync_contract.py
Due: ruff-style-guard, pyright-guard

编写 api 重构计划
  docs/Obsidian/standards/ui/color-guidelines.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor-progress.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor.md
  docs/reference/api/api-routes-documentation.md
  docs/reference/api/authentication-and-csrf.md
  docs/reference/api/flask-restx-integration.md
Due: none

增加服务
  docs/Obsidian/API/accounts-api-contract.md
  docs/Obsidian/API/auth-api-contract.md
  docs/Obsidian/API/cache-api-contract.md
  docs/Obsidian/API/capacity-api-contract.md
  docs/Obsidian/API/credentials-api-contract.md
  docs/Obsidian/API/dashboard-api-contract.md
  docs/Obsidian/API/databases-api-contract.md
  docs/Obsidian/API/health-api-contract.md
  docs/Obsidian/API/instances-api-contract.md
  docs/Obsidian/API/logs-api-contract.md
  docs/Obsidian/API/partition-api-contract.md
  docs/Obsidian/API/scheduler-api-contract.md
  docs/Obsidian/API/sessions-api-contract.md
  docs/Obsidian/API/tags-api-contract.md
  docs/Obsidian/API/users-api-contract.md
  docs/Obsidian/standards/backend/api-contract-markdown-standards.md
  docs/plans/2026-01-08-accounts-sync-actions-service.md
  docs/plans/2026-01-08-route-layer-scan-inventory.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor-progress.md
  docs/plans/2026-01-08-route-layer-thin-service-refactor.md
Due: none

新增服务
  app/api/v1/namespaces/auth.py
  app/api/v1/namespaces/dashboard.py
  app/api/v1/namespaces/health.py
  app/api/v1/namespaces/instances.py
  app/services/auth/__init__.py
  app/services/auth/auth_me_read_service.py
  app/services/dashboard/dashboard_activities_service.py
  app/services/files/instances_import_template_service.py
  app/services/health/health_checks_service.py
  docs/Obsidian/API/auth-api-contract.md
  docs/Obsidian/API/dashboard-api-contract.md
  docs/Obsidian/API/health-api-contract.md
  docs/Obsidian/API/instances-api-contract.md
  docs/Obsidian/canvas/account-classification/account-classification-api-contract.canvas
  docs/reports/2026-01-08-services-complexity-report.md
  docs/reports/README.md
Due: ruff-style-guard, pyright-guard

test
  docs/Obsidian/Server/accounts-sync-permission-manager.md
Due: none

修复自动分类兼容性
  app/constants/system_constants.py
  app/services/account_classification/auto_classify_service.py
  app/services/account_classification/cache.py
  app/services/account_classification/orchestrator.py
  docs/Obsidian/Server/accounts-sync-permission-manager.md
  docs/architecture/classification-domain.md
  tests/unit/services/test_account_classification_facts_and_cache_guards.py
Due: ruff-style-guard, pyright-guard

服务层文档标准
  docs/Obsidian/standards/README.md
  docs/Obsidian/standards/backend/README.md
  docs/Obsidian/standards/backend/service-layer-documentation-standards.md
  docs/plans/2026-01-09-services-top38-docs-progress.md
  docs/plans/2026-01-09-services-top38-docs.md
  docs/plans/README.md
Due: none

修复首页跳转问题
  app/routes/main.py
  tests/unit/routes/test_web_main_index_redirects.py
Due: ruff-style-guard, pyright-guard

修复登录问题
  app/__init__.py
  app/routes/auth.py
  app/services/accounts/account_classifications_write_service.py
  app/settings.py
  app/templates/auth/login.html
  app/types/extensions.py
  docs/plans/2026-01-09-login-expire-7-days.md
  env.example
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
  tests/unit/routes/test_api_v1_auth_contract.py
  tests/unit/routes/test_web_auth_login_page_contract.py
  tests/unit/routes/test_web_auth_login_remember.py
  tests/unit/services/test_classification_rule_write_service.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard

新增服务层文档
  docs/Obsidian/Server/README.md
  docs/Obsidian/Server/account-classification-dsl-v4.md
  docs/Obsidian/Server/account-classification-orchestrator.md
  docs/Obsidian/Server/accounts-classifications-write-service.md
  docs/Obsidian/Server/accounts-permissions-facts-builder.md
  docs/Obsidian/Server/accounts-sync-adapters.md
  docs/Obsidian/Server/accounts-sync-overview.md
  docs/Obsidian/Server/accounts-sync-permission-manager.md
  docs/Obsidian/Server/aggregation-pipeline.md
  docs/Obsidian/Server/cache-services.md
  docs/Obsidian/Server/capacity-current-aggregation-service.md
  docs/Obsidian/Server/connection-test-service.md
  docs/Obsidian/Server/credential-write-service.md
  docs/Obsidian/Server/database-ledger-service.md
  docs/Obsidian/Server/database-sync-adapters.md
  docs/Obsidian/Server/database-sync-overview.md
  docs/Obsidian/Server/database-sync-table-sizes.md
  docs/Obsidian/Server/instances-write-and-batch.md
  docs/Obsidian/Server/logs-export-service.md
  docs/Obsidian/Server/partition-services.md
  docs/Obsidian/Server/scheduler-job-write-service.md
  docs/Obsidian/Server/sync-session-service.md
  docs/Obsidian/Server/tags-write-service.md
  docs/Obsidian/Server/user-write-service.md
  docs/plans/2026-01-09-services-top38-docs-progress.md
Due: none

版本升级1.4.0
  CHANGELOG.md
  README.md
  app/api/v1/namespaces/health.py
  app/forms/definitions/scheduler_job.py
  app/services/health/health_checks_service.py
  app/services/scheduler/scheduler_job_write_service.py
  app/settings.py
  app/templates/about.html
  app/templates/admin/scheduler/modals/scheduler-modals.html
  docs/Obsidian/API/scheduler-api-contract.md
  docs/Obsidian/Server/scheduler-job-write-service.md
  docs/architecture/spec.md
  docs/reference/api/services-utils-documentation.md
  env.example
  nginx/error_pages/404.html
  nginx/error_pages/50x.html
  package.json
  pyproject.toml
  scripts/deploy/deploy-prod-all.sh
  scripts/dev/openapi/export_openapi.py
  tests/unit/routes/test_api_v1_health_ping_contract.py
  uv.lock
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard

修复兼容性
  app/api/v1/namespaces/scheduler.py
  app/api/v1/namespaces/tags.py
  app/forms/handlers/tag_form_handler.py
  app/services/scheduler/scheduler_job_write_service.py
  app/services/tags/tag_write_service.py
  docs/Obsidian/API/scheduler-api-contract.md
  docs/Obsidian/Server/scheduler-job-write-service.md
  docs/Obsidian/Server/sync-session-service.md
  docs/Obsidian/Server/tags-write-service.md
  docs/Obsidian/Server/user-write-service.md
Due: ruff-style-guard, pyright-guard

分层文档
  docs/Obsidian/standards/backend/layer/api-layer-standards.md
  docs/Obsidian/standards/backend/layer/constants-layer-standards.md
  docs/Obsidian/standards/backend/layer/forms-views-layer-standards.md
  docs/Obsidian/standards/backend/layer/models-layer-standards.md
  docs/Obsidian/standards/backend/layer/repository-layer-standards.md
  docs/Obsidian/standards/backend/layer/routes-layer-standards.md
  docs/Obsidian/standards/backend/layer/services-layer-standards.md
  docs/Obsidian/standards/backend/layer/tasks-layer-standards.md
  docs/Obsidian/standards/backend/layer/types-layer-standards.md
  docs/Obsidian/standards/backend/layer/utils-layer-standards.md
Due: none

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
