Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

边界修复
  app/api/v1/namespaces/cache.py
  app/core/types/__init__.py
  app/core/types/internal_contracts.py
  app/schemas/cache_actions.py
  app/schemas/internal_contracts/__init__.py
  app/schemas/internal_contracts/permission_snapshot_v4.py
  app/services/accounts_permissions/facts_builder.py
  app/services/cache/cache_actions_service.py
  app/services/cache_service.py
  app/utils/rate_limiter.py
  docs/Obsidian/standards/backend/internal-data-contract-and-versioning.md
  docs/Obsidian/standards/backend/layer/forms-views-layer-standards.md
  docs/Obsidian/standards/backend/resilience-and-fallback-standards.md
  docs/plans/2026-01-13-backend-p2-logging-and-yaml-config.md
  docs/plans/2026-01-13-backend-standards-audit-p0-fixes.md
  docs/plans/2026-01-13-backend-standards-audit-p1-fixes.md
  docs/plans/2026-01-13-backend-standards-audit-p2-fixes.md
  docs/plans/2026-01-13-backend-standards-audit.md
  docs/plans/2026-01-14-aggregation-scheduled-skip.md
  docs/plans/2026-01-14-backend-standards-p0-fixes.md
  docs/reports/2026-01-12-backend-standards-audit-report.md
  docs/reports/2026-01-13-backend-standards-audit-report.md
  docs/reports/2026-01-13-ui-standards-audit-report.md
  docs/reports/2026-01-14-backend-standards-audit-report.md
  tests/unit/routes/test_api_v1_cache_contract.py
  tests/unit/schemas/test_permission_snapshot_v4_internal_contract.py
  tests/unit/services/test_cache_fallback_observability.py
  tests/unit/services/test_permission_facts_builder.py
Due: ruff-style-guard, pyright-guard

修复边界问题
  app/infra/database_batch_manager.py
  app/repositories/accounts_sync_repository.py
  app/repositories/instance_accounts_write_repository.py
  app/repositories/instance_databases_repository.py
  app/repositories/instances_batch_repository.py
  app/repositories/sync_sessions_repository.py
  app/services/accounts_sync/inventory_manager.py
  app/services/accounts_sync/permission_manager.py
  app/services/auth/change_password_service.py
  app/services/connection_adapters/adapters/oracle_adapter.py
  app/services/database_sync/inventory_manager.py
  app/services/instances/batch_service.py
  app/services/sync_session_service.py
  app/tasks/capacity_collection_tasks.py
  app/views/mixins/resource_forms.py
  docs/plans/2026-01-14-backend-standards-fixes.md
  docs/reports/2026-01-14-backend-standards-audit-report.md
Due: ruff-style-guard, pyright-guard

边界修复
  app/__init__.py
  app/infra/database_batch_manager.py
  app/infra/logging/queue_worker.py
  app/models/account_permission.py
  app/services/accounts/account_classifications_write_service.py
  app/services/capacity/instance_capacity_sync_actions_service.py
  app/services/database_sync/table_size_adapters/oracle_adapter.py
  app/utils/request_payload.py
  app/views/form_handlers/account_classification_form_handler.py
  app/views/form_handlers/account_classification_rule_form_handler.py
  docs/Obsidian/standards/backend/action-endpoint-failure-semantics.md
  docs/Obsidian/standards/backend/layer/api-layer-standards.md
  docs/plans/2026-01-15-backend-standards-fixes.md
  docs/reports/2026-01-15-backend-standards-audit-report.md
  tests/unit/types/test_request_payload.py
Due: ruff-style-guard, pyright-guard

清理文档
  docs/changes/bugfix/001-aggregation-scheduled-skip.md
  docs/plans/2026-01-14-backend-standards-fixes.md
  docs/plans/2026-01-15-backend-standards-fixes.md
  docs/reports/2026-01-14-backend-standards-audit-report.md
  docs/reports/2026-01-15-backend-standards-audit-report.md
  docs/reports/Pydantic.md
  docs/reports/pyright_full_2026-01-13_152859.txt
  docs/reports/pyright_full_2026-01-13_153023.txt
  docs/reports/ruff_style_2026-01-13_152847.txt
Due: none

docs: resolve backend standards ambiguities for error fields and contracts
  docs/Obsidian/standards/backend/error-message-schema-unification.md
  docs/Obsidian/standards/backend/internal-data-contract-and-versioning.md
  docs/Obsidian/standards/backend/layer/api-layer-standards.md
  docs/Obsidian/standards/backend/layer/tasks-layer-standards.md
  docs/Obsidian/standards/backend/request-payload-and-schema-validation.md
Due: none

fix: version sync_details internal payload and add backfill
  app/schemas/internal_contracts/sync_details_v1.py
  app/services/history_sessions/history_sessions_read_service.py
  app/services/sync_session_service.py
  migrations/versions/20260115122054_backfill_sync_details_version.py
  tests/unit/schemas/internal_contracts/test_sync_details_v1.py
Due: ruff-style-guard, pyright-guard

fix: remove silent fallback when decoding persisted json text fields
  app/models/account_classification.py
  app/models/database_type_config.py
  tests/unit/models/test_account_classification_rule_expression.py
  tests/unit/models/test_database_type_config_features_list.py
Due: ruff-style-guard, pyright-guard

fix: version account_permission.type_specific and backfill existing rows
  app/schemas/internal_contracts/type_specific_v1.py
  app/services/accounts_sync/permission_manager.py
  app/services/instances/instance_accounts_service.py
  migrations/versions/20260115122843_backfill_account_permission_type_specific_version.py
  tests/unit/schemas/internal_contracts/test_type_specific_v1.py
Due: ruff-style-guard, pyright-guard

fix: version account change log diff payloads and keep stable read output
  app/schemas/internal_contracts/account_change_log_diff_v1.py
  app/services/accounts_sync/permission_manager.py
  app/services/instances/instance_accounts_service.py
  app/services/ledgers/accounts_ledger_change_history_service.py
  migrations/versions/20260115123302_backfill_account_change_log_diff_version.py
  tests/unit/schemas/internal_contracts/test_account_change_log_diff_v1.py
Due: ruff-style-guard, pyright-guard

fix: validate log datetime filters and log version query fallbacks
  app/api/v1/namespaces/logs.py
  app/services/connection_adapters/adapters/mysql_adapter.py
  app/services/connection_adapters/adapters/oracle_adapter.py
  app/services/connection_adapters/adapters/postgresql_adapter.py
  app/services/connection_adapters/adapters/sqlserver_adapter.py
  app/services/health/health_checks_service.py
  app/utils/structlog_config.py
  tests/unit/routes/test_api_v1_history_logs_contract.py
Due: ruff-style-guard, pyright-guard

test: cover best-effort parsing helpers
  app/services/accounts_permissions/facts_builder.py
  app/services/capacity/capacity_collection_task_runner.py
  app/services/capacity/capacity_databases_page_service.py
  tests/unit/services/test_base_capacity_adapter_utils.py
  tests/unit/utils/test_time_utils_parsing.py
Due: ruff-style-guard, pyright-guard

test: guard against internal payload alias fallback chains in business layers
  tests/unit/test_internal_contract_no_alias_fallback_chains.py
Due: pyright-guard

refactor: replace risky or fallbacks with explicit None checks
  app/routes/credentials.py
  app/services/accounts_sync/accounts_sync_service.py
  app/tasks/accounts_sync_tasks.py
Due: ruff-style-guard, pyright-guard

chore: finalize backend standards audit remediation
  app/schemas/internal_contracts/account_change_log_diff_v1.py
  app/services/accounts_permissions/facts_builder.py
  app/services/accounts_sync/permission_manager.py
  app/services/capacity/capacity_collection_task_runner.py
  migrations/versions/20260115122054_backfill_sync_details_version.py
  migrations/versions/20260115122843_backfill_account_permission_type_specific_version.py
  migrations/versions/20260115123302_backfill_account_change_log_diff_version.py
  tests/unit/schemas/internal_contracts/test_sync_details_v1.py
  tests/unit/schemas/internal_contracts/test_type_specific_v1.py
  tests/unit/services/test_sync_session_service_cleanup.py
Due: ruff-style-guard, pyright-guard

新增文档
  docs/plans/2026-01-15-backend-standards-audit-remediation.md
  docs/reports/2026-01-15-backend-standards-audit-fixlist.md
  docs/reports/2026-01-15-backend-standards-audit-report.md
  docs/reports/artifacts/2026-01-15-app-json-columns.txt
  docs/reports/artifacts/2026-01-15-app-or-boolop.txt
  docs/reports/artifacts/2026-01-15-app-silent-except-return.txt
  docs/reports/ruff_style_2026-01-15_125145.txt
  docs/reports/ruff_style_2026-01-15_125319.txt
  docs/reports/ruff_style_2026-01-15_125436.txt
  docs/reports/ruff_style_2026-01-15_125549.txt
Due: none

移除文档
  docs/plans/2026-01-15-backend-standards-audit-remediation.md
  docs/reports/2026-01-15-backend-standards-audit-fixlist.md
  docs/reports/2026-01-15-backend-standards-audit-report.md
  docs/reports/artifacts/2026-01-15-app-json-columns.txt
  docs/reports/artifacts/2026-01-15-app-or-boolop.txt
  docs/reports/artifacts/2026-01-15-app-silent-except-return.txt
  docs/reports/ruff_style_2026-01-15_125145.txt
  docs/reports/ruff_style_2026-01-15_125319.txt
  docs/reports/ruff_style_2026-01-15_125436.txt
  docs/reports/ruff_style_2026-01-15_125549.txt
Due: none

docs: add dashboard latest capacity design
  docs/plans/2026-01-16-dashboard-latest-capacity-design.md
Due: none

fix: use latest capacity stats on dashboard
  app/services/dashboard/dashboard_overview_service.py
Due: ruff-style-guard, pyright-guard
