Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

继续移除无效代码
  Makefile.prod
  app/core/types/orm_kwargs.py
  app/models/instance_account.py
  app/services/accounts_sync/inventory_manager.py
  docs/Obsidian/standards/core/guide/scripts.md
  docs/reports/ruff_quick_2026-01-26_160648.txt
  migrations/versions/20260126160000_drop_instance_accounts_seen_at_columns.py
  scripts/deploy/deploy-prod-all.sh
  scripts/setup/install-oracle-client.sh
  sql/init/postgresql/init_postgresql.sql
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

移除 统计当前周期 模态框
  app/static/js/modules/views/components/charts/manager.js
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  docs/plans/2026-01-23-display-layer-polish.md
  docs/plans/2026-01-23-metric-cards-no-duplicate-metrics.md
  docs/plans/2026-01-23-remove-resourceformview-modal-crud.md
  docs/plans/2026-01-23-stat-cards-sitewide-dedup.md
  docs/plans/2026-01-24-frontend-standards-upgrade.md
  docs/plans/2026-01-24-frontend-strict-layering-refactor.md
  docs/plans/2026-01-24-stores-layer-standards-fix.md
  docs/plans/2026-01-24-ui-standards-audit-remediation.md
  docs/plans/2026-01-25-cache-strategy-optimization.md
  docs/plans/2026-01-25-core-constants-cleanup.md
  docs/plans/2026-01-25-remove-cache-service.md
  docs/plans/2026-01-25-remove-prometheus-client.md
  docs/plans/2026-01-25-standards-docs-reorg.md
  docs/plans/2026-01-25-standards-hard-to-standard.md
  docs/plans/2026-01-25-tests-not-gates-and-ci-enforcement.md
  docs/plans/2026-01-25-utils-audit-and-remove-custom-tools.md
  docs/plans/2026-01-27-code-simplicity-decisions.md
  docs/plans/2026-01-27-code-simplicity-fixes.md
  docs/reports/2026-01-23-logging-audit-wide-events.md
  docs/reports/2026-01-23-reducing-entropy-review-data-over-abstractions.md
  docs/reports/2026-01-23-reducing-entropy-review-design-is-taking-apart.md
  docs/reports/2026-01-23-reducing-entropy-review-pagni.md
  docs/reports/2026-01-23-reducing-entropy-review-simplicity-vs-easy.md
  docs/reports/2026-01-24-ui-standards-audit-report.md
  docs/reports/2026-01-27-code-simplicity-review.md
  docs/reports/2026-01-28-code-simplicity-review-codex.md
  docs/reports/naming_guard_report.txt
  docs/reports/ruff_quick_2026-01-26_160648.txt
Due: none

精简代码
  app/schemas/account_classifications.py
  app/schemas/databases_query.py
  app/services/accounts_sync/adapters/sqlserver_adapter.py
  app/services/accounts_sync/permission_manager.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

优化报告
  app/api/v1/namespaces/task_runs.py
  app/services/capacity/capacity_collection_task_runner.py
  app/services/task_runs/task_runs_write_service.py
  app/utils/query_filter_utils.py
  docs/reports/2026-01-28-code-simplicity-review-audit.md
  docs/reports/2026-01-28-code-simplicity-review-codex.md
  docs/reports/2026-01-28-p2-004-transaction-boundaries.md
  docs/reports/artifacts/ci-guards_2026-01-28_134703.txt
  docs/reports/artifacts/ci-guards_2026-01-28_134740_stderr.txt
  docs/reports/artifacts/compat_markers_2026-01-28_135005.txt
  docs/reports/artifacts/legacy_deprecated_2026-01-28_134955.txt
  docs/reports/artifacts/pytest_unit_2026-01-28_134833.txt
  docs/reports/artifacts/todo_fixme_2026-01-28_134923.txt
  docs/reports/artifacts/todo_fixme_first_party_2026-01-28_134934.txt
  docs/reports/artifacts/todo_fixme_first_party_2026-01-28_134944.txt
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

精简代码
  .gitignore
  app/api/v1/namespaces/cache.py
  app/api/v1/namespaces/databases.py
  app/core/constants/http_headers.py
  app/repositories/accounts_classifications_repository.py
  app/repositories/task_runs_repository.py
  app/schemas/base.py
  app/schemas/cache_actions.py
  app/schemas/databases_query.py
  app/services/accounts/account_classification_daily_stats_read_service.py
  app/services/cache/cache_actions_service.py
  app/services/capacity/capacity_collection_task_runner.py
  app/services/common/options_cache.py
  app/services/task_runs/task_runs_write_service.py
  app/tasks/capacity_collection_tasks.py
  app/tasks/capacity_current_aggregation_tasks.py
  docs/Obsidian/API/cache-api-contract.md
  docs/Obsidian/reference/service/cache-services.md
  docs/reports/2026-01-28-code-simplicity-review-audit.md
  scripts/ci/account-classification-auto-tasks-guard.sh
  scripts/ci/db-session-rollback-allowlist-guard.sh
  tests/unit/routes/test_api_v1_cache_contract.py
  tests/unit/routes/test_api_v1_task_runs_contract.py
  tests/unit/routes/test_form_service_message_key_contract.py
  tests/unit/services/test_account_classification_write_service.py
  tests/unit/services/test_cache_fallback_observability.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复同步按钮
  app/static/js/modules/services/databases_ledgers_service.js
  app/static/js/modules/views/databases/ledgers.js
  app/templates/databases/ledgers.html
Due: none

修复同步问题
  app/services/accounts_sync/accounts_sync_service.py
  app/services/aggregation/capacity_aggregation_task_runner.py
  app/services/capacity/capacity_collection_task_runner.py
  app/tasks/accounts_sync_tasks.py
  tests/unit/services/accounts_sync/test_accounts_sync_service_sync_details_version.py
  tests/unit/services/test_capacity_collection_task_runner_sync_details_version.py
  tests/unit/tasks/test_accounts_sync_tasks_sync_details_version.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

更新1.5
  CHANGELOG.md
  README.md
  app/__init__.py
  app/api/v1/namespaces/health.py
  app/settings.py
  app/templates/about.html
  app/templates/base.html
  docs/Obsidian/reference/development/version-update-checklist.md
  env.example
  nginx/error_pages/404.html
  nginx/error_pages/50x.html
  pyproject.toml
  scripts/deploy/deploy-prod-all.sh
  uv.lock
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

任务完成后断开连接
  app/tasks/account_classification_auto_tasks.py
  app/tasks/account_classification_daily_tasks.py
  app/tasks/accounts_sync_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/capacity_collection_tasks.py
  app/tasks/capacity_current_aggregation_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, or-fallback-pattern-guard

ui调整
  app/static/css/components/buttons.css
  app/static/css/components/chips.css
  app/static/css/components/filters/filter-common.css
  app/static/css/components/metric-card.css
  app/static/css/components/modals.css
  app/static/css/components/status-pill.css
  app/static/css/components/table.css
  app/static/css/fonts.css
  app/static/css/global.css
  app/static/css/pages/accounts/account-classification.css
  app/static/css/pages/admin/scheduler.css
  app/static/css/pages/auth/login.css
  app/static/css/pages/dashboard/overview.css
  app/static/css/pages/tags/index.css
  app/static/css/theme-orange.css
  app/static/css/variables.css
  app/static/fonts/ibm-plex-mono/IBMPlexMono-Medium.ttf
  app/static/fonts/ibm-plex-mono/IBMPlexMono-Regular.ttf
  app/static/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-Medium.ttf
  app/static/fonts/ibm-plex-sans-condensed/IBMPlexSansCondensed-SemiBold.ttf
  app/static/fonts/ibm-plex-sans/IBMPlexSans-Medium.ttf
  app/static/fonts/ibm-plex-sans/IBMPlexSans-Regular.ttf
  app/static/fonts/ibm-plex-sans/IBMPlexSans-SemiBold.ttf
  app/tasks/capacity_collection_tasks.py
  app/templates/accounts/account-classification/index.html
  app/templates/admin/scheduler/index.html
  app/templates/base.html
  app/templates/components/ui/filter_card.html
  app/templates/components/ui/metric_card.html
  app/templates/components/ui/page_header.html
  app/templates/dashboard/overview.html
  app/templates/tags/index.html
  docs/Obsidian/architecture/flows/未命名.md
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, or-fallback-pattern-guard

ui调整
  app/static/css/components/forms.css
  app/static/css/components/metric-card.css
  app/static/css/fonts.css
  app/static/css/global.css
  app/static/css/pages/accounts/account-classification.css
  app/static/css/pages/accounts/classification_statistics.css
  app/static/css/pages/accounts/statistics.css
  app/static/css/pages/admin/scheduler.css
  app/static/css/pages/dashboard/overview.css
  app/static/css/pages/instances/statistics.css
  app/static/css/pages/tags/index.css
  app/static/css/variables.css
  app/static/js/modules/views/dashboard/overview.js
  app/templates/about.html
  app/templates/accounts/account-classification/index.html
  app/templates/accounts/classification_statistics.html
  app/templates/accounts/ledgers.html
  app/templates/accounts/statistics.html
  app/templates/admin/partitions/index.html
  app/templates/admin/scheduler/index.html
  app/templates/auth/list.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/components/ui/page_header.html
  app/templates/credentials/list.html
  app/templates/dashboard/overview.html
  app/templates/databases/ledgers.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
  app/templates/history/sessions/sync-sessions.html
  app/templates/instances/detail.html
  app/templates/instances/list.html
  app/templates/instances/statistics.html
  app/templates/tags/bulk/assign.html
  app/templates/tags/index.html
  tests/unit/routes/test_web_dashboard_overview_layout_contract.py
  tests/unit/routes/test_web_management_console_layout_contract.py
Due: pyright-guard

修复模态框
  app/static/css/global.css
  tests/unit/test_frontend_modal_layering_contract.py
Due: pyright-guard

重构详情页
  app/static/css/pages/dashboard/overview.css
  app/static/css/pages/instances/detail.css
  app/static/js/modules/views/components/tags/tag-selector-view.js
  app/templates/instances/detail.html
  tests/unit/test_frontend_tag_selector_category_render_contract.py
Due: pyright-guard

优化调整
  app/static/css/components/tag-selector.css
  app/static/css/pages/accounts/account-classification.css
  app/static/css/pages/tags/index.css
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/components/tags/tag-selector-controller.js
  app/static/js/modules/views/components/tags/tag-selector-view.js
  app/static/js/modules/views/tags/index.js
  app/templates/accounts/account-classification/index.html
  app/templates/accounts/classification_statistics.html
  app/templates/accounts/ledgers.html
  app/templates/accounts/statistics.html
  app/templates/admin/partitions/index.html
  app/templates/admin/scheduler/index.html
  app/templates/auth/list.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  app/templates/components/tag_selector.html
  app/templates/credentials/list.html
  app/templates/databases/ledgers.html
  app/templates/history/account_change_logs/account-change-logs.html
  app/templates/history/logs/logs.html
  app/templates/history/sessions/sync-sessions.html
  app/templates/instances/list.html
  app/templates/instances/statistics.html
  app/templates/tags/bulk/assign.html
Due: none

新增数据库统计页面
  app/api/v1/namespaces/databases.py
  app/api/v1/restx_models/databases.py
  app/core/types/database_statistics.py
  app/repositories/database_statistics_repository.py
  app/routes/databases/ledgers.py
  app/services/statistics/database_statistics_read_service.py
  app/static/css/pages/auth/login.css
  app/static/css/pages/databases/statistics.css
  app/static/js/modules/services/databases_statistics_service.js
  app/static/js/modules/views/databases/statistics.js
  app/templates/databases/ledgers.html
  app/templates/databases/statistics.html
  tests/unit/routes/test_api_v1_databases_statistics_contract.py
  tests/unit/routes/test_web_databases_statistics_page_contract.py
  tests/unit/services/test_database_statistics_read_service.py
  tests/unit/services/test_database_statistics_repository.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增邮件告警
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/namespaces/alerts.py
  app/config/scheduler_tasks.yaml
  app/core/constants/scheduler_jobs.py
  app/models/__init__.py
  app/models/email_alert_event.py
  app/models/email_alert_setting.py
  app/repositories/email_alerts_repository.py
  app/routes/alerts.py
  app/scheduler.py
  app/schemas/email_alerts.py
  app/services/accounts_sync/inventory_manager.py
  app/services/alerts/__init__.py
  app/services/alerts/email_alert_digest_service.py
  app/services/alerts/email_alert_event_service.py
  app/services/alerts/email_alert_settings_service.py
  app/services/alerts/email_sender.py
  app/settings.py
  app/static/css/pages/admin/email-alert-settings.css
  app/static/js/modules/services/email_alert_settings_service.js
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/static/js/modules/views/admin/partitions/charts/partitions-chart.js
  app/tasks/__init__.py
  app/tasks/accounts_sync_tasks.py
  app/tasks/capacity_collection_tasks.py
  app/tasks/email_alert_tasks.py
  app/templates/admin/alerts/email-settings.html
  app/templates/base.html
  docs/Obsidian/reference/config/environment-variables.md
  env.example
  migrations/versions/20260127110000_add_email_alert_settings_and_events.py
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
  tests/unit/services/test_email_alert_digest_service.py
  tests/unit/services/test_email_alert_event_service.py
  tests/unit/tasks/test_email_alert_tasks.py
  tests/unit/test_settings_email_alerts.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增邮件发送测试
  app/api/v1/namespaces/alerts.py
  app/schemas/email_alerts.py
  app/services/alerts/email_alert_settings_service.py
  app/static/js/modules/services/email_alert_settings_service.js
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/templates/admin/alerts/email-settings.html
  tests/unit/routes/test_api_v1_alerts_contract.py
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
  tests/unit/services/test_email_alert_settings_service.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修改统计逻辑
  app/repositories/account_statistics_repository.py
  app/repositories/aggregation_repository.py
  app/repositories/capacity_databases_repository.py
  app/repositories/capacity_instances_repository.py
  app/repositories/database_statistics_repository.py
  app/repositories/filter_options_repository.py
  app/repositories/instance_statistics_repository.py
  app/repositories/instances_repository.py
  app/services/accounts_sync/accounts_sync_actions_service.py
  app/services/capacity/instance_capacity_sync_actions_service.py
  app/services/common/filter_options_service.py
  app/services/instances/batch_service.py
  app/services/instances/instance_write_service.py
  app/services/statistics/accounts_statistics_page_service.py
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  docs/Obsidian/API/instances-api-contract.md
  tests/unit/routes/test_api_v1_accounts_statistics_contract.py
  tests/unit/routes/test_api_v1_accounts_sync_contract.py
  tests/unit/routes/test_api_v1_capacity_databases_contract.py
  tests/unit/routes/test_api_v1_capacity_instances_contract.py
  tests/unit/routes/test_api_v1_common_options_contract.py
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/routes/test_api_v1_instances_sync_capacity_contract.py
  tests/unit/services/test_database_statistics_repository.py
  tests/unit/services/test_filter_options_service_cache.py
  tests/unit/services/test_instance_state_semantics.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整ui
  app/static/css/pages/admin/email-alert-settings.css
  app/static/css/pages/capacity/databases.css
  app/static/js/modules/views/admin/alerts/email-settings.js
  app/static/js/modules/views/capacity/databases.js
  app/static/js/modules/views/components/charts/chart-renderer.js
  app/static/js/modules/views/components/charts/manager.js
  app/templates/admin/alerts/email-settings.html
  app/templates/capacity/databases.html
  app/templates/capacity/instances.html
  tests/unit/routes/test_web_capacity_pages_chart_legend_contract.py
  tests/unit/routes/test_web_email_alert_settings_page_contract.py
Due: pyright-guard
