Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

forms-layer-guard:
  name: layer-guard (forms)
  entry: ./scripts/ci/forms-layer-guard.sh
  language: system
  pass_filenames: false

tasks-layer-guard:
  name: layer-guard (tasks)
  entry: ./scripts/ci/tasks-layer-guard.sh
  language: system
  pass_filenames: false

api-layer-guard:
  name: layer-guard (api v1)
  entry: ./scripts/ci/api-layer-guard.sh
  language: system
  pass_filenames: false

services-repository-enforcement-guard:
  name: layer-guard (services repository enforcement)
  entry: ./scripts/ci/services-repository-enforcement-guard.sh
  language: system
  pass_filenames: false

or-fallback-pattern-guard:
  name: guard (or fallback patterns)
  entry: ./scripts/ci/or-fallback-pattern-guard.sh
  language: system
  pass_filenames: false

优化设置页面
  app/static/css/pages/admin/system-settings.css
  app/static/js/modules/views/admin/system-settings/index.js
  app/templates/admin/system-settings/index.html
  tests/unit/routes/test_web_system_settings_page_contract.py
  tests/unit/test_frontend_system_settings_nav_contract.py
Due: pyright-guard

新增风险中心
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/namespaces/risk_center.py
  app/routes/risk_center.py
  app/schemas/email_alerts.py
  app/services/risk_center/__init__.py
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  app/static/js/modules/services/risk_center_service.js
  app/static/js/modules/stores/risk_center_store.js
  app/static/js/modules/views/risk-center/index.js
  app/templates/base.html
  app/templates/risk_center/index.html
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整风险中心
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  app/static/js/modules/views/risk-center/index.js
  app/templates/risk_center/index.html
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/services/test_risk_center_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

风险中心调整
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

继续调整风险中心
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  app/static/js/modules/views/risk-center/index.js
  app/templates/risk_center/index.html
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

优化界面
  app/routes/risk_center.py
  app/services/risk_center/risk_center_read_service.py
  app/static/css/pages/risk-center.css
  app/static/js/modules/views/risk-center/index.js
  app/templates/risk_center/index.html
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

风险中心 分页问题
  app/api/v1/namespaces/risk_center.py
  app/routes/risk_center.py
  app/services/risk_center/risk_center_read_service.py
  app/static/js/modules/views/risk-center/index.js
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整风险中心
  app/static/css/pages/risk-center.css
  app/static/js/modules/views/risk-center/index.js
  app/templates/risk_center/index.html
  tests/unit/routes/test_api_v1_risk_center_contract.py
  tests/unit/services/test_risk_center_read_service.py
  tests/unit/test_frontend_risk_center_layout_contract.py
Due: pyright-guard

解决sqlserver 锁定问题
  app/api/v1/restx_models/accounts.py
  app/core/types/accounts_ledgers.py
  app/services/accounts_permissions/facts_builder.py
  app/services/ledgers/accounts_ledger_list_service.py
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/instances/detail.js
  docs/Obsidian/reference/service/accounts-permissions-facts-builder.md
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/services/test_permission_facts_builder.py
  tests/unit/test_frontend_instance_detail_accounts_contract.py
  tests/unit/test_frontend_ledger_db_type_assets_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 sa锁定问题
  app/services/accounts_sync/permission_manager.py
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/instances/detail.js
  tests/unit/services/test_account_permission_manager.py
  tests/unit/test_frontend_instance_detail_accounts_contract.py
  tests/unit/test_frontend_ledger_db_type_assets_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增群集模块
  app/__init__.py
  app/api/v1/__init__.py
  app/api/v1/namespaces/instances.py
  app/api/v1/namespaces/sqlserver_clusters.py
  app/core/types/accounts.py
  app/core/types/orm_kwargs.py
  app/models/__init__.py
  app/models/account_change_log.py
  app/models/account_permission.py
  app/models/instance_account.py
  app/models/sqlserver_cluster.py
  app/models/task_run_item.py
  app/repositories/accounts_sync_repository.py
  app/repositories/sqlserver_clusters_repository.py
  app/routes/cluster.py
  app/schemas/sqlserver_clusters.py
  app/services/accounts_sync/accounts_sync_service.py
  app/services/accounts_sync/inventory_manager.py
  app/services/accounts_sync/permission_manager.py
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/instances/instance_ag_accounts_service.py
  app/services/risk_center/risk_center_read_service.py
  app/services/sqlserver_clusters/__init__.py
  app/services/sqlserver_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/services/instance_management_service.js
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/instances/detail.js
  app/templates/base.html
  app/templates/cluster/list.html
  app/templates/instances/partials/detail/_accounts_pane.html
  migrations/versions/20260519090000_add_sqlserver_cluster_ag_account_scope.py
  tests/unit/models/test_account_permission.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/accounts_sync/test_account_inventory_owner_scope.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 cluster状态
  app/static/js/modules/views/cluster/list.js
Due: none

新增 ag 同步
  app/api/v1/namespaces/sqlserver_clusters.py
  app/services/sqlserver_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 ag同步
  app/services/sqlserver_clusters/service.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复侦听器问题
  app/services/sqlserver_clusters/service.py
  app/static/css/pages/cluster/list.css
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整 账户信息ag显示
  app/services/sqlserver_clusters/service.py
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/partials/detail/_accounts_pane.html
  app/templates/instances/partials/detail/_ag_accounts_pane.html
  app/templates/instances/partials/detail/_data_tabs_card.html
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

ui 重构
  app/api/v1/namespaces/instances.py
  app/services/instances/instance_ag_accounts_service.py
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/partials/detail/_ag_accounts_pane.html
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

ag 调整凭据
  app/api/v1/namespaces/accounts.py
  app/api/v1/namespaces/sqlserver_clusters.py
  app/core/types/accounts_ledgers.py
  app/core/types/orm_kwargs.py
  app/models/sqlserver_cluster.py
  app/repositories/account_change_logs_repository.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/routes/cluster.py
  app/schemas/accounts_query.py
  app/schemas/sqlserver_clusters.py
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/ledgers/accounts_ledger_change_history_service.py
  app/services/sqlserver_clusters/service.py
  app/static/js/modules/views/cluster/list.js
  app/static/js/modules/views/instances/detail.js
  app/templates/cluster/list.html
  migrations/versions/20260520090000_add_sqlserver_ag_account_credential.py
  tests/unit/repositories/test_account_change_logs_repository_owner_scope.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/routes/test_instances_detail_audit_tab.py
  tests/unit/schemas/test_accounts_query.py
  tests/unit/services/test_accounts_ledger_change_history_service.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

群集需要填写域名
  app/api/v1/namespaces/sqlserver_clusters.py
  app/core/types/orm_kwargs.py
  app/models/sqlserver_cluster.py
  app/repositories/sqlserver_clusters_repository.py
  app/schemas/sqlserver_clusters.py
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/connection_adapters/adapters/sqlserver_adapter.py
  app/services/sqlserver_clusters/service.py
  app/static/js/modules/views/cluster/list.js
  app/templates/cluster/list.html
  migrations/versions/20260520110000_add_sqlserver_cluster_domain_name.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/services/test_sqlserver_cluster_management_service.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

增加ag同步日志
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/connection_adapters/adapters/sqlserver_adapter.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/services/test_sqlserver_connection_logging.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

ag账户同步独立
  app/api/v1/namespaces/sqlserver_clusters.py
  app/repositories/accounts_sync_repository.py
  app/services/accounts_sync/accounts_sync_service.py
  app/services/accounts_sync/inventory_manager.py
  app/services/accounts_sync/sqlserver_ag_accounts_sync_service.py
  app/services/sqlserver_clusters/service.py
  app/services/task_runs/task_run_summary_builders.py
  app/static/js/modules/services/sqlserver_clusters_service.js
  app/static/js/modules/stores/sqlserver_clusters_store.js
  app/static/js/modules/views/accounts/ledgers.js
  app/static/js/modules/views/cluster/list.js
  app/tasks/accounts_sync_tasks.py
  tests/unit/routes/test_api_v1_sqlserver_clusters_contract.py
  tests/unit/services/accounts_sync/test_account_inventory_owner_scope.py
  tests/unit/services/accounts_sync/test_accounts_sync_service_sync_details_version.py
  tests/unit/services/test_sqlserver_cluster_ag_accounts.py
  tests/unit/tasks/test_accounts_sync_tasks_ag_clusters.py
  tests/unit/test_frontend_sqlserver_cluster_ag_sync_contract.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
  forms-layer-guard: any of: ^app/forms/.*\.py$
  tasks-layer-guard: any of: ^app/tasks/.*\.py$
  api-layer-guard: any of: ^app/api/v1/.*\.py$
  services-repository-enforcement-guard: any of: ^app/services/.*\.py$
  or-fallback-pattern-guard: any of: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$
