Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

任务分类重构
  app/api/v1/namespaces/accounts_classifications.py
  app/api/v1/restx_models/accounts.py
  app/core/constants/classification_constants.py
  app/core/types/accounts_classifications.py
  app/core/types/accounts_ledgers.py
  app/core/types/orm_kwargs.py
  app/forms/definitions/account_classification.py
  app/models/account_classification.py
  app/repositories/account_statistics_repository.py
  app/repositories/accounts_classifications_repository.py
  app/repositories/filter_options_repository.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/routes/accounts/classifications.py
  app/schemas/account_classifications.py
  app/services/accounts/account_classifications_read_service.py
  app/services/accounts/account_classifications_write_service.py
  app/services/history_account_change_logs/history_account_change_logs_read_service.py
  app/static/js/common/validation-rules.js
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/accounts/account-classification/modals/classification-modals.js
  app/templates/accounts/account-classification/classifications_form.html
  app/templates/accounts/account-classification/modals/classification-modals.html
  app/views/form_handlers/account_classification_form_handler.py
  migrations/versions/20260120150000_refactor_account_classifications_code_and_risk_levels.py
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/services/test_account_classification_daily_stats_service.py
  tests/unit/services/test_account_classification_write_service.py
Due: ruff-style-guard, pyright-guard, forms-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

更新脚本
  migrations/versions/20260120150000_refactor_account_classifications_code_and_risk_levels.py
Due: ruff-style-guard

修复账号分类前端
  app/api/v1/namespaces/accounts_classifications.py
  app/models/account_classification.py
  app/services/accounts/account_classifications_write_service.py
  app/static/css/pages/accounts/account-classification.css
  app/static/js/modules/views/accounts/account-classification/index.js
  app/static/js/modules/views/accounts/account-classification/modals/classification-modals.js
  app/templates/accounts/account-classification/modals/rule-modals.html
  app/templates/accounts/account-classification/rules_form.html
  app/utils/query_filter_utils.py
  docs/Obsidian/API/accounts-api-contract.md
  docs/Obsidian/operations/account-classification-daily-stats-ops.md
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
  tests/unit/services/test_classification_rule_write_service.py
  tests/unit/utils/test_query_filter_utils_classification_options.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整定时任务名称
  .superset/config.json
  app/api/v1/namespaces/accounts_classifications.py
  app/config/scheduler_tasks.yaml
  app/core/constants/scheduler_jobs.py
  app/scheduler.py
  app/services/accounts/account_classifications_write_service.py
  app/services/aggregation/aggregation_service.py
  app/services/aggregation/capacity_aggregation_task_runner.py
  app/services/capacity/capacity_collection_actions_service.py
  app/services/scheduler/scheduler_actions_service.py
  app/services/scheduler/scheduler_jobs_read_service.py
  app/static/js/modules/views/admin/scheduler/modals/scheduler-modals.js
  app/tasks/account_classification_daily_tasks.py
  app/tasks/capacity_aggregation_tasks.py
  app/tasks/capacity_collection_tasks.py
  app/templates/admin/scheduler/modals/scheduler-modals.html
  docs/Obsidian/architecture/flows/aggregation-stats.md
  docs/Obsidian/architecture/flows/capacity-sync.md
  docs/Obsidian/architecture/spec.md
  docs/Obsidian/canvas/capacity/aggregation-stats-flow.canvas
  docs/Obsidian/canvas/capacity/capacity-aggregation-sequence.canvas
  docs/Obsidian/canvas/capacity/capacity-flow.canvas
  docs/Obsidian/canvas/capacity/capacity-sequence.canvas
  docs/Obsidian/operations/account-classification-daily-stats-ops.md
  docs/Obsidian/reference/service/scheduler-actions-and-read-services.md
  docs/changes/refactor/001-scheduler-job-naming-plan.md
  docs/changes/refactor/001-scheduler-job-naming-progress.md
  docs/optimization/modules/services-capacity-sync.md
  docs/plans/2026-01-19-task-run-center-refactor-design.md
  tests/unit/services/test_classification_rule_write_service.py
  tests/unit/services/test_task_runs_write_service.py
  tests/unit/utils/test_query_filter_utils_classification_options.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复显示问题
  app/static/js/modules/views/history/sessions/session-detail.js
Due: none

docs: mysql roles refactor design
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
Due: none

docs: add mysql roles SQL notes
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
Due: none

docs: refine mysql roles design (store roles, hide in ledgers)
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
Due: none

docs: mysql roles design show roles in instance detail
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
Due: none

docs: clarify mysql role lock display as dash
  docs/plans/2026-01-21-mysql-roles-refactor-design.md
Due: none

docs: mysql roles refactor implementation plan
  docs/plans/2026-01-21-mysql-roles-refactor-implementation-plan.md
Due: none

fix: mysql facts roles and locked semantics
  app/services/accounts_permissions/facts_builder.py
  tests/unit/services/test_permission_facts_builder.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

feat: persist mysql roles into permission snapshot
  app/services/accounts_sync/permission_manager.py
  tests/unit/services/test_account_permission_manager.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

feat: ledgers include_roles filter and expose type_specific
  app/api/v1/namespaces/accounts.py
  app/api/v1/restx_models/accounts.py
  app/core/types/accounts_ledgers.py
  app/repositories/ledgers/accounts_ledger_repository.py
  app/schemas/accounts_query.py
  app/services/ledgers/accounts_ledger_list_service.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/schemas/test_accounts_query.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

feat: mysql adapter collect roles and account_kind
  app/schemas/external_contracts/mysql_account.py
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

feat: show mysql roles in instance detail and permission modal
  app/static/js/modules/views/components/permissions/permission-modal.js
  app/static/js/modules/views/instances/detail.js
Due: none

chore: satisfy pyright for mysql roles
  app/core/types/accounts.py
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
  tests/unit/services/test_account_permission_manager.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复 角色问题
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

fix: strip redundant username prefix in ledger change history
  app/services/ledgers/accounts_ledger_change_history_service.py
  tests/unit/services/test_accounts_ledger_change_history_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

chore: fix ruff docstring violations
  app/api/v1/namespaces/task_runs.py
  app/models/task_run.py
  app/models/task_run_item.py
  app/repositories/task_runs_repository.py
  app/schemas/task_runs_query.py
  app/services/account_classification/auto_classify_actions_service.py
  app/services/capacity/capacity_collection_actions_service.py
  app/services/capacity/capacity_current_aggregation_actions_service.py
  app/services/task_runs/task_runs_read_service.py
  app/services/task_runs/task_runs_write_service.py
  app/tasks/accounts_sync_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: improve change history renderer readability
  app/static/js/modules/views/components/change-history/change-history-renderer.js
Due: none

feat: simplify add change history output
  app/services/history_account_change_logs/history_account_change_logs_read_service.py
  app/services/ledgers/accounts_ledger_change_history_service.py
  tests/unit/services/test_accounts_ledger_change_history_service.py
  tests/unit/services/test_history_account_change_logs_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
