Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

secrets-guard-env-example:
  name: secrets-guard (env.example)
  entry: ./scripts/ci/secrets-guard.sh
  language: system

ruff-style-guard:
  name: ruff (style, no new violations)
  entry: ./scripts/ci/ruff-style-guard.sh
  language: system
  pass_filenames: false

pyright-guard:
  name: pyright (no new diagnostics)
  entry: ./scripts/ci/pyright-guard.sh
  language: system
  pass_filenames: false

forms-layer-guard:
  name: layer-guard (forms)
  entry: ./scripts/ci/forms-layer-guard.sh
  language: system
  pass_filenames: false

tasks-layer-guard:
  name: layer-guard (tasks)
  entry: ./scripts/ci/tasks-layer-guard.sh
  language: system
  pass_filenames: false

api-layer-guard:
  name: layer-guard (api v1)
  entry: ./scripts/ci/api-layer-guard.sh
  language: system
  pass_filenames: false

services-repository-enforcement-guard:
  name: layer-guard (services repository enforcement)
  entry: ./scripts/ci/services-repository-enforcement-guard.sh
  language: system
  pass_filenames: false

or-fallback-pattern-guard:
  name: guard (or fallback patterns)
  entry: ./scripts/ci/or-fallback-pattern-guard.sh
  language: system
  pass_filenames: false

移除不使用的常量
  app/core/constants/__init__.py
  app/core/constants/database_types.py
  app/core/constants/filter_options.py
  app/core/constants/sync_constants.py
  app/core/constants/tag_categories.py
  app/models/tag.py
  app/repositories/tags_options_repository.py
  app/services/common/filter_options_service.py
  app/services/tags/tag_options_service.py
  app/services/tags/tags_bulk_actions_service.py
  docs/plans/2026-01-25-core-constants-cleanup.md
  tests/integration/conftest.py
  tests/unit/routes/test_api_v1_tags_contract.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

删除没用的文件
  app/__init__.py
  app/api/v1/namespaces/auth.py
  app/core/types/stubs/prometheus_client/__init__.pyi
  app/infra/rate_limiting.py
  app/routes/auth.py
  app/services/accounts_sync/permission_manager.py
  app/services/connection_adapters/adapters/sqlserver_adapter.py
  app/settings.py
  app/utils/__init__.py
  app/utils/account_classification_dsl_v4.py
  app/utils/pagination_utils.py
  app/utils/rate_limiter.py
  app/utils/sqlserver_connection_utils.py
  docs/Obsidian/reference/service/account-classification-dsl-v4.md
  docs/Obsidian/reference/service/accounts-sync-permission-manager.md
  docs/optimization/dry_refactor_progress.md
  docs/optimization/modules/app-utils-db.md
  docs/optimization/modules/app-utils-http.md
  docs/optimization/modules/app-utils-security.md
  docs/optimization/progress.md
  docs/plans/2026-01-25-remove-prometheus-client.md
  docs/plans/2026-01-25-utils-audit-and-remove-custom-tools.md
  pyproject.toml
  requirements-prod.txt
  tests/unit/services/test_cache_fallback_observability.py
  uv.lock
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: enhance cache manager primitives
  app/__init__.py
  app/utils/cache_utils.py
  tests/unit/services/test_cache_fallback_observability.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

refactor: move classification cache to cache manager
  app/services/account_classification/cache.py
  tests/unit/services/test_account_classification_facts_and_cache_guards.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: decouple cache actions from cache service
  app/services/cache/cache_actions_service.py
  tests/unit/routes/test_api_v1_cache_contract.py
  tests/unit/services/test_cache_fallback_observability.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: remove cache service dependency from health checks
  app/api/v1/namespaces/health.py
  app/services/health/health_checks_service.py
  tests/unit/routes/test_api_v1_health_extended_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: remove cache service subsystem
  app/__init__.py
  app/services/cache_service.py
  tests/unit/routes/test_api_v1_cache_contract.py
  tests/unit/services/test_cache_fallback_observability.py
  tests/unit/utils/test_structlog_log_entry_schema.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

docs: add remove-cache-service plan
  docs/plans/2026-01-25-remove-cache-service.md
Due: none

修复缓存
  app/api/v1/namespaces/health.py
  app/services/account_classification/cache.py
  app/services/account_classification/orchestrator.py
  app/services/cache/cache_actions_service.py
  app/services/common/filter_options_service.py
  app/services/common/options_cache.py
  app/settings.py
  docs/Obsidian/canvas/account-classification/account-classification-domain-components.canvas
  docs/Obsidian/reference/service/cache-services.md
  docs/changes/refactor/003-cache-strategy-optimization-plan.md
  docs/changes/refactor/003-cache-strategy-optimization-progress.md
  docs/optimization/modules/services-cache.md
  docs/plans/2026-01-25-cache-strategy-optimization.md
  env.example
  tests/unit/services/test_cache_fallback_observability.py
  tests/unit/services/test_filter_options_service_cache.py
  tests/unit/test_settings_cache_options_ttl.py
Due: secrets-guard-env-example, ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复
  app/repositories/capacity_databases_repository.py
  tests/unit/repositories/test_capacity_databases_repository_filters.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复死代码
  AGENTS.md
  app/api/v1/namespaces/dashboard.py
  app/api/v1/namespaces/health.py
  app/api/v1/namespaces/instances_connections.py
  app/api/v1/namespaces/logs.py
  tests/unit/repositories/test_capacity_databases_repository_filters.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

refactor: 清理死代码与不存在引用
  app/__init__.py
  app/api/v1/restx_models/scheduler.py
  app/routes/credentials.py
  app/static/js/modules/views/errors/error.js
  app/templates/components/forms/macros.html
  app/templates/errors/error.html
Due: ruff-style-guard, pyright-guard, api-layer-guard, or-fallback-pattern-guard

修复容量采集
  app/repositories/capacity_databases_repository.py
  tests/unit/repositories/test_capacity_databases_repository_summary_query.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

修复死代码
  app.py
  docs/README.md
  docs/prompts/depreacted.md
  tests/conftest.py
  tests/fixtures/__init__.py
  tests/fixtures/permission_snapshots_v4.py
  tests/integration/conftest.py
  tests/integration/test_health_ping_smoke.py
  tests/unit/conftest.py
Due: pyright-guard

refactor: 清理未使用代码与幽灵引用
  app/models/sync_session.py
  app/repositories/instance_accounts_repository.py
  app/repositories/instance_statistics_repository.py
  app/services/account_classification/cache.py
  app/services/accounts_sync/accounts_sync_filters.py
  app/services/aggregation/aggregation_service.py
  app/services/aggregation/database_aggregation_runner.py
  app/services/capacity/capacity_collection_task_runner.py
  app/services/common/filter_options_service.py
  app/services/connection_adapters/connection_factory.py
  app/services/database_sync/__init__.py
  app/services/database_sync/coordinator.py
  app/services/database_sync/database_sync_service.py
  app/services/sync_session_service.py
  app/utils/account_classification_dsl_v4.py
  app/utils/decorators.py
  app/utils/query_filter_utils.py
  app/utils/safe_query_builder.py
  app/utils/theme_color_utils.py
  scripts/audits/python_or_fallback_scan.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

Path conditions:
  secrets-guard-env-example: any of: ^env\.example$
  ruff-style-guard: any of: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$
  pyright-guard: any of: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$
  forms-layer-guard: any of: ^app/forms/.*\.py$
  tasks-layer-guard: any of: ^app/tasks/.*\.py$
  api-layer-guard: any of: ^app/api/v1/.*\.py$
  services-repository-enforcement-guard: any of: ^app/services/.*\.py$
  or-fallback-pattern-guard: any of: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$
