Repository nyealovey/WhaleFall: changes, and which pre-commit hooks are due for each by the changed paths.
All: secrets-guard-env-example, ruff-style-guard, pyright-guard, forms-layer-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        args: ["--markdown-linebreak-ext=md"]
      - id: end-of-file-fixer
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.8
    hooks:
      - id: ruff
        args: ["--fix"]

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort

  - repo: local
    hooks:
      - id: secrets-guard-env-example
        name: secrets-guard (env.example)
        entry: ./scripts/ci/secrets-guard.sh
        language: system
        files: ^env\.example$

      - id: ruff-style-guard
        name: ruff (style, no new violations)
        entry: ./scripts/ci/ruff-style-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|migrations)/.*\.py$|^(pyproject\.toml)$

      - id: pyright-guard
        name: pyright (no new diagnostics)
        entry: ./scripts/ci/pyright-guard.sh
        language: system
        pass_filenames: false
        files: ^(app|scripts|tests)/.*\.py$|^(pyrightconfig\.json|pyproject\.toml)$

      - id: forms-layer-guard
        name: layer-guard (forms)
        entry: ./scripts/ci/forms-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/forms/.*\.py$

      - id: tasks-layer-guard
        name: layer-guard (tasks)
        entry: ./scripts/ci/tasks-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/tasks/.*\.py$

      - id: api-layer-guard
        name: layer-guard (api v1)
        entry: ./scripts/ci/api-layer-guard.sh
        language: system
        pass_filenames: false
        files: ^app/api/v1/.*\.py$

      - id: services-repository-enforcement-guard
        name: layer-guard (services repository enforcement)
        entry: ./scripts/ci/services-repository-enforcement-guard.sh
        language: system
        pass_filenames: false
        files: ^app/services/.*\.py$

      - id: or-fallback-pattern-guard
        name: guard (or fallback patterns)
        entry: ./scripts/ci/or-fallback-pattern-guard.sh
        language: system
        pass_filenames: false
        files: ^app/.*\.py$|^scripts/ci/or-fallback-pattern-guard\.sh$

chore: fix ruff docstring violations
  app/api/v1/namespaces/task_runs.py
  app/models/task_run.py
  app/models/task_run_item.py
  app/repositories/task_runs_repository.py
  app/schemas/task_runs_query.py
  app/services/account_classification/auto_classify_actions_service.py
  app/services/capacity/capacity_collection_actions_service.py
  app/services/capacity/capacity_current_aggregation_actions_service.py
  app/services/task_runs/task_runs_read_service.py
  app/services/task_runs/task_runs_write_service.py
  app/tasks/accounts_sync_tasks.py
Due: ruff-style-guard, pyright-guard, tasks-layer-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

docs: add plan for change history display refactor
  docs/plans/2026-01-21-change-history-modal-display-refactor.md
Due: none

feat: simplify add change history output
  app/services/history_account_change_logs/history_account_change_logs_read_service.py
  app/services/ledgers/accounts_ledger_change_history_service.py
  tests/unit/services/test_accounts_ledger_change_history_service.py
  tests/unit/services/test_history_account_change_logs_read_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: improve change history renderer readability
  app/static/js/modules/views/components/change-history/change-history-renderer.js
Due: none

refactor: split type_specific diff entries by key
  app/services/accounts_sync/permission_manager.py
  tests/unit/services/test_account_permission_manager.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

fix: strip redundant username prefix in ledger change history
  app/services/ledgers/accounts_ledger_change_history_service.py
  tests/unit/services/test_accounts_ledger_change_history_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

修复角色
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

调整mysql展示
  app/api/v1/restx_models/accounts.py
  app/core/types/accounts_ledgers.py
  app/services/ledgers/accounts_ledger_list_service.py
  app/static/js/modules/views/instances/detail.js
  app/templates/instances/detail.html
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
Due: ruff-style-guard, pyright-guard, api-layer-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

新增mysql角色
  app/core/types/accounts.py
  app/services/accounts_sync/adapters/mysql_adapter.py
  app/services/accounts_sync/permission_manager.py
  app/static/js/modules/views/components/permissions/permission-modal.js
  docs/Obsidian/reference/service/accounts-sync-adapters.md
  docs/Obsidian/reference/service/mysql-roles-sync-and-display.md
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

test: use prefixed v4 permission snapshot category keys
  tests/fixtures/permission_snapshots_v4.py
  tests/unit/routes/test_api_v1_accounts_ledgers_contract.py
  tests/unit/routes/test_api_v1_instances_contract.py
  tests/unit/services/test_permission_snapshot_read_path.py
  tests/unit/services/test_permission_snapshot_view.py
Due: pyright-guard

refactor: normalize v4 snapshot categories with db-prefixed keys
  app/schemas/internal_contracts/permission_snapshot_v4.py
  tests/unit/schemas/test_permission_snapshot_v4_internal_contract.py
Due: ruff-style-guard, pyright-guard, or-fallback-pattern-guard

refactor: mysql permissions keys prefixed
  app/core/types/accounts.py
  app/schemas/external_contracts/mysql_account.py
  app/services/accounts_sync/adapters/mysql_adapter.py
  tests/unit/services/accounts_sync/test_mysql_adapter_normalize_account.py
  tests/unit/services/accounts_sync/test_mysql_adapter_roles.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: sqlserver permissions keys prefixed
  app/core/types/accounts.py
  app/schemas/external_contracts/sqlserver_account.py
  app/services/accounts_sync/adapters/sqlserver_adapter.py
  tests/unit/services/accounts_sync/test_sqlserver_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: facts builder reads db-prefixed category keys
  app/services/accounts_permissions/facts_builder.py
  tests/unit/services/test_permission_facts_builder.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: prefix permission snapshot category keys
  app/services/accounts_sync/permission_manager.py
  tests/unit/services/test_account_permission_manager.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: permission modal renders prefixed categories
  app/static/js/modules/views/components/permissions/permission-modal.js
Due: none

docs: update permission category keys
  docs/Obsidian/reference/service/accounts-sync-permission-manager.md
  docs/Obsidian/reference/service/mysql-roles-sync-and-display.md
Due: none

重构文档
  docs/plans/2026-01-21-prefixed-permission-category-keys-refactor-implementation-plan.md
Due: none

refactor: instance accounts reads prefixed sqlserver categories
  app/services/instances/instance_accounts_service.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: oracle permissions keys prefixed
  app/core/types/accounts.py
  app/schemas/external_contracts/oracle_account.py
  app/services/accounts_sync/adapters/oracle_adapter.py
  tests/unit/services/accounts_sync/test_oracle_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: permission policy center uses prefixed categories
  app/static/js/modules/views/accounts/account-classification/permissions/permission-policy-center.js
Due: none

chore: fix mysql adapter docstring lint
  app/services/accounts_sync/adapters/mysql_adapter.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: drop postgresql system_privileges snapshot field
  app/schemas/external_contracts/postgresql_account.py
  app/services/accounts_sync/adapters/postgresql_adapter.py
  tests/unit/services/accounts_sync/test_postgresql_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard

refactor: permission configs categories prefixed
  sql/seed/postgresql/permission_configs.sql
  tests/unit/routes/test_api_v1_accounts_classifications_contract.py
Due: pyright-guard

refactor: postgresql permissions keys prefixed
  app/core/types/accounts.py
  app/schemas/external_contracts/postgresql_account.py
  app/services/accounts_sync/adapters/postgresql_adapter.py
  tests/unit/services/accounts_sync/test_postgresql_adapter_normalize_account.py
Due: ruff-style-guard, pyright-guard, services-repository-enforcement-guard, or-fallback-pattern-guard
